doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='format-detection' content='telephone=no')
    meta(name='description' content=__('meta_description'))
    meta(name='googlebot' content='index, follow')
    
    title 加拿大華人神學院溫哥華
      
    link(rel='shortcut icon' href='/images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/images/favicon.ico' type='image/x-icon')
        
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Noto+Sans+SC:300, 400')
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")

    link(rel='stylesheet', href='/stylesheets/register/register.css')

    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.validate.min.js')
    
    body
        div.navbar
            a(class='navbar-logo' href='/')
            h2 加神溫哥華入學報名表

        form(id='registerForm', method='post')
            div In the event of discrepancies between the English and Chinese versions, the English version shall prevail. 
            div 如中、英文兩個版本有任何抵觸或不相符之處，應以英文版本為準。
            
            section
                h3 課程 Programs
                div.question.required
                    label(for='program') 
                        span Please select a program 
                        br
                        span 請選擇一個課程
                    div
                        input(type='radio' id='MDiv' name='program' value='Master of Divinity Program')
                        label(for='MDiv') 道學碩士課程 Master of Divinity Program
                    div
                        input(type='radio' id='MTS' name='program' value='Master of Theological Studies Program')
                        label(for='MTS') 神學研究碩士課程 Master of Theological Studies Program
                    div
                        input(type='radio' id='MMin' name='program' value='Master of Ministry Program')
                        label(for='MMin') 教牧學碩士課程 Master of Ministry Program                    
                    div
                        input(type='radio' id='DMiv' name='program' value='Doctor of Ministry Program')
                        label(for='DMiv') 教牧學博士課程 Doctor of Ministry Program

            section
                h3 A. Personal Information 個人資料
                div.question.required
                    label 
                        span Please upload a portrait of you 
                        br
                        span 請上傳一張半身正面肖像
                    input(type='file' name='portrait' id='portrait' accept='.jpeg, .jpg, .png' style='padding-bottom:0;')
                    input(type='hidden' name='portraitName' id='portraitName')
                    input(type='hidden' name='portraitEncoded' id='portraitEncoded')
                    input(type='hidden' name='portraitType' id='portraitType')
                    div(id='portraitPreview')
                    div.error(id='portraitError')
                        
                div.question.required
                    label(for='engLastName') 
                        span English Name (Last) 
                        br
                        span 英文姓氏
                    input(type='text' id='engLastName' name='engLastName')
                div.question.required
                    label(for='engFirstName') 
                        span English Name (First) 
                        br
                        span 英文名字
                    input(type='text' id='engFirstName' name='engFirstName')
                div.question
                    label(for='engMiddleName') 
                        span English Name (Middle, if applicable) 
                        br
                        span 英文中間名 (如適用)
                    input(type='text' id='engMiddleName' name='engMiddleName')
                div.question.required
                    label(for='preferredName') 
                        span Preferred Name
                        br
                        span 常用名字
                    input(type='text' id='preferredName' name='preferredName')                
                div.question.required
                    label(for='chineseName') 
                        span Chinese Name 
                        br 
                        span 中文姓名
                    input(type='text' id='chineseName' name='chineseName')
                div.question.required
                    label(for='homeAddress') 
                        span Home Address (Full Address) 
                        br
                        span 居住地址 (全寫)
                    input(type='text' id='homeAddress' name='homeAddress')
                div.question
                    label(for='homeAptNum') 
                        span Apt#
                        br
                        span 房號
                    input(type='text' id='homeAptNum' name='homeAptNum')
                div.question.required
                    label(for='homeStreet') 
                        span Street
                        br
                        span 街號及街名
                    input(type='text' id='homeStreet' name='homeStreet')
                div.question.required
                    label(for='homeCity') 
                        span City 
                        br
                        span 城市
                    input(type='text' id='homeCity' name='homeCity')
                div.question
                    label(for='homeProvince') 
                        span Province
                        br
                        span 省份
                    input(type='text' id='homeProvince' name='homeProvince')
                div.question
                    label(for='homePostalCode') 
                        span Postal Code
                        br
                        span 郵區號碼
                    input(type='text' id='homePostalCode' name='homePostalCode')
                div.question.required
                    label(for='homeCountry') 
                        span Country
                        br
                        span 國家
                    input(type='text' id='homeCountry' name='homeCountry')                
                div.question
                    label(for='homeMailingAddress') 
                        span Mailing Address (if applicable) 
                        br 
                        span 郵寄地址 (如適用)
                    textarea.short(id='homeMailingAddress' name='homeMailingAddress')
                div.question.required
                    label(for='homePhone') 
                        span Telephone Number (Home) 
                        br
                        span 聯絡電話 (住家)
                    input(type='text' id='homePhone' name='homePhone')
                div.question
                    label(for='mobile') 
                        span Telephone Number (Mobile) 
                        br
                        span 聯絡電話 (流動)
                    input(type='text' id='mobile' name='mobile')
                div.question
                    label(for='businessPhone') 
                        span Telephone Number (Business) 
                        br
                        span 聯絡電話 (工作)
                    input(type='text' id='businessPhone' name='businessPhone')
                div.question.required
                    label(for='email') 
                        span Email 
                        br
                        span 電郵
                    input(type='text' id='email' name='email')
                div.question.required
                    label(for='birthday') 
                        span Birth Date 
                        br 
                        span 出生日期
                    input(type='date' id='birthday' name='birthday')
                div.question.required
                    label(for='birthCountry') 
                        span Country of Birth 
                        br
                        span 出生國家
                    input(type='text' id='birthCountry' name='birthCountry')
                div.question.required
                    label(for='gender') 
                        span Gender 
                        br
                        span 性別
                    select(name='gender' id='gender')
                        option(value='') Choose
                        option(value='male') Male 男
                        option(value='female') Female 女
                div.question.required
                    label(for='martialStatus') 
                        span Martial Status 
                        br
                        span 婚姻狀況
                    select(name='martialStatus' id='martialStatus')
                        option(value='') Choose
                        option(value='single') Single 單身
                        option(value='married') Married 已婚
                        option(value='separated') Separated 分居
                        option(value='divorced') Divorced 離婚
                        option(value='widowed') Widowed 寡居
                div.question
                    label(for='spouseName') 
                        span Name of Spouse (if married) 
                        br
                        span 配偶姓名 (如已婚)
                    input(type='text' id='spouseName' name='spouseName')
                div.question.required
                    label(for='immigrationStatus') 
                        span Immigration Status in Canada
                        br
                        span 在加拿大的身份
                    select(name='immigrationStatus')#genders
                        option(value='') Choose
                        option(value='canadian citizen') Canadian Citizen 加籍公民
                        option(value='landed immigrant') Landed Immigrant 移民
                        option(value='student visa') Student Visa 學生簽證
                        option(value='others') Others (please specify) 其他 (請註明)
                div.question
                    label(for='immigrationStatusOther')
                        span Other Immigration Status
                        br
                        span 其他移民狀況
                    input(type='text' id='immigrationStatusOther' name='immigrationStatusOther')
                div.question
                    label(for='socialInsuranceNum') 
                        span Social Insurance Number (if applicable) 
                        br
                        span 社會工作證號碼 (如適用)
                    input(type='text' id='socialInsuranceNum' name='socialInsuranceNum')
                div.question
                    label(for='healthCardNum') 
                        span Health Card Number (if applicable) 
                        br
                        span 醫療卡號碼 (如適用) 
                    input(type='text' id='healthCardNum' name='healthCardNum')
                div.question
                    label(for='physicanName') 
                        span Physican's Name & Phone 
                        br
                        span 家庭醫生及電話
                    input(type='text' id='physicanName' name='physicanName')
                div.question.required
                    label(for='medicalCondition') 
                        span Please specify if you have any medical conditions we should be aware of 
                        br
                        span 請説明你是否有需要關注的疾病
                    input(type='text' id='medicalCondition' name='medicalCondition')

                h3 Church Information 教會資料
                div.question.required
                    label(for='homeChurchName') 
                        span Home Church Name 
                        br
                        span 所屬教會
                    input(type='text' id='homeChurchName' name='homeChurchName')                
                div.question.required
                    label(for='denomination') 
                        span Denomination 
                        br
                        span 所屬宗派
                    input(type='text' id='denomination' name='denomination')
                div.question.required
                    label(for='churchAddress') 
                        span Address 
                        br
                        span 教會地址
                    input(type='text' id='churchAddress' name='churchAddress')
                div.question.required
                    label(for='churchPhone') 
                        span Phone Number 
                        br
                        span 教會電話
                    input(type='text' id='churchPhone' name='churchPhone')

            section
                h3 B. Educational Background 教育背景
                div.section-desc
                    div Original Post-Secondary School(s) Transcripts are to be sent to the Admissions Office, directly from each institution attended after high school, even though a full term may not have been completed and no credits earned. All original transcripts received will be retained for record. 
                    div 高中以上學歷謄本（無論是否完成整個課程），均需由學校直接寄至註冊處，成績單將不予退還。
                
                table(style="width: 100%; margin-bottom: 2rem;")
                    tr
                        th(style="width: 30%; text-align:left; font-weight:normal; vertical-align:bottom")
                            div Name of Institution (must include the name in English)
                            div.required 學院名稱 
                        th(style="width: 20%; text-align:left; font-weight:normal; vertical-align:bottom")
                            div Country 
                            div.required 國家
                        th(style="text-align:left; font-weight:normal; vertical-align:bottom")
                            div Period of Attendance 
                            div.required 入讀時間
                        th(style="width: 30%; text-align:left; font-weight:normal; vertical-align:bottom")
                            div Certificate/Diploma/Degree Earned (Specify if applicable)
                            div.required 獲取學位/文憑
                    tr(style="vertical-align:text-top")
                        td.question.required                            
                            input(type='text' id='institutionName1' name='institutionName1' style='width:100%;')                
                        td.question.required
                            input(type='text' id='institutionCountry1' name='institutionCountry1' style='width:100%;')
                        td.question.required
                            input(type='text' id='institutionAttendancePeriod1' name='institutionAttendancePeriod1' style='width:100%;')
                        td.question.required
                            input(type='text' id='institutionEarned1' name='institutionEarned1' style='width:100%;')
                    tr
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionName2' name='institutionName2' style='width:100%;')                
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionCountry2' name='institutionCountry2' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionAttendancePeriod2' name='institutionAttendancePeriod2' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionEarned2' name='institutionEarned2' style='width:100%;')
                    tr
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionName3' name='institutionName3' style='width:100%;')                
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionCountry3' name='institutionCountry3' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionAttendancePeriod3' name='institutionAttendancePeriod3' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionEarned3' name='institutionEarned3' style='width:100%;')
                    tr
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionName4' name='institutionName4' style='width:100%;')                
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionCountry4' name='institutionCountry4' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionAttendancePeriod4' name='institutionAttendancePeriod4' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionEarned4' name='institutionEarned4' style='width:100%;')
                    tr
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionName5' name='institutionName5' style='width:100%;')                
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionCountry5' name='institutionCountry5' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionAttendancePeriod5' name='institutionAttendancePeriod5' style='width:100%;')
                        td(style="padding-bottom: 1rem;")
                            input(type='text' id='institutionEarned5' name='institutionEarned5' style='width:100%;')                            

                div
                    div Please prepare official transcripts sent to CCST Vancouver
                    div 請向你曾修讀大專或以上課程的學校,將成績單正本寄到 "加神溫哥華" 


                div.question.required
                    label(for='transferCredit') 
                        span Will you be applying for transfer credit from other institution(s)? 
                        br
                        span 你會否申請把其他學院的學分轉至本校？
                    select(name='transferCredit' id='transferCredit')
                        option(value='') Choose
                        option(value='yes') Yes
                        option(value='no') No

                h3 Application to other Seminary or University 其他學院之申請
                div.question.required
                    label(for='otherApplication') 
                        span Have you applied or studied a similar program in other Seminary or University in the last 10 years? 
                        br
                        span 你曾否於過去十年申請或就讀其他院校之神學/宗教教育或同類課程？
                    select(name='otherApplication' id='otherApplication')
                        option(value='') Choose
                        option(value='yes') Yes
                        option(value='no') No
                div.question
                    label(for='englishRequirement') 
                        span English Language Requirement 
                        br
                        span 英語成績                    
                    div
                        input(type='radio' id='ielts' name='englishRequirement' value='IELTS')
                        label(for='ielts') IELTS Academic 雅思 (學術類)
                    div
                        input(type='radio' id='toefl_IBT' name='englishRequirement' value='TOEFL (IBT)')
                        label(for='toefl_IBT') TOEFL 托福 (IBT) - (加神溫哥華 DI Code C781)
                    div
                        input(type='radio' id='toefl_ITP' name='englishRequirement' value='TOEFL (ITP)')
                        label(for='toefl_ITP') TOEFL 托福 (ITP)                        
                div.question
                    label(for='englishRequirementDateTaken') 
                        span Date Taken 
                        br
                        span 考試日期
                    input(type='date' id='englishRequirementDateTaken' name='englishRequirementDateTaken')
                div.question
                    label(for='englishRequirementScore') 
                        span Score 
                        br
                        span 成績
                    input(type='text' id='englishRequirementScore' name='englishRequirementScore')
                div.section-desc
                    div A minimum score of 30 for TOEFL IBT, 399 for TOEFL ITP, or 4.0 for IELTS (Academic) is required for master programs' applicants who have NOT studied full time for 3 years in a postsecondary institution, where English is the language of instruction and examination, in an English speaking country. Only test scores dating no more than two years are valid.
                    div 若碩士課程申請者沒有在位於以英語為主要語言的國家, 並以英語為教學及考試語言的專上學院全時間地就讀過三年，對其英語考試最低成績要求為托福 IBT 30分, 托福 ITP 399分, 或雅思(學術類) 4.0. 只有兩年內的考試成績才有效。 
                    div A minimum score of 32 for TOEFL IBT, 430 for TOEFL ITP, or 4.5 for IELTS (Academic) is required for doctoral program's applicants who have NOT studied full time for 3 years in a postsecondary institution, where English is the language of instruction and examination, in an English speaking country. Only test scores dating no more than two years when your application is reviewed are accepted.                    
                    div 若博士課程申請者沒有在位於以英語為主要語言的國家, 並以英語為教學及考試語言的專上學院全時間地就讀過三年，對其英語考試最低成績要求為托福 IBT 32分, 托福 ITP 433分, 或雅思(學術類) 4.5。 只有兩年內的考試成績才有效。
                    div Please prepare an official record from IELTS or TOEFL Center and send to CCST Vancouver
                    div 請向雅思或托福機關申請將成績直接送往 "加神溫哥華"

            section
                h3 C. Calling Testimony 蒙召見證
                div.question.required
                    label(for='personalSalvation') 
                        span Please hand in an article regarding your personal salvation and ministry calling. Please upload in PDF format.
                        br
                        span 請書寫一篇得救及蒙召見證。(可用中文書寫, 1000字內)。請以PDF格式上載文件。
                    //- textarea(id='personalSalvation' name='personalSalvation')
                    input(type='file' name='personalSalvation' id='personalSalvation' accept=".pdf" style='padding-bottom:0;')
                    div.error(id='personalSalvationError')
                    input(type='hidden' name='personalSalvationName' id='personalSalvationName')
                    input(type='hidden' name='personalSalvationEncoded' id='personalSalvationEncoded')
                    input(type='hidden' name='personalSalvationType' id='personalSalvationType')
                div.question
                    label(for='spouseSupportLetter') 
                        span If married, please attach a letter of support from your spouse. (M.Div. / M.Min &amp; D. Min. Applicant ONLY.)
                        br
                        span 已婚者需請配偶書寫其對你報名的推薦。 (只適用於道學碩士課程, 教牧學碩士及教牧學博士的申請人)
                    //- textarea(id='spouseSupportLetter' name='spouseSupportLetter') 
                    input(type='file' name='spouseSupportLetter' id='spouseSupportLetter' accept=".pdf" style='padding-bottom:0;')
                    div.error(id='spouseSupportLetterError')
                    input(type='hidden' name='spouseSupportLetterName' id='spouseSupportLetterName')
                    input(type='hidden' name='spouseSupportLetterEncoded' id='spouseSupportLetterEncoded')
                    input(type='hidden' name='spouseSupportLetterType' id='spouseSupportLetterType')                          
            
            section
                h3 D. 研究文章 (只適用於博士課程申請人)         
                div.question
                    label(for='researchPaper') 
                        span Please submit a biblical or theological research paper that you have written. (Please upload in PDF format.)
                        br
                        span 請提交一篇由你所書寫的神學或聖經的研究文章。 (請以PDF格式上載文件。)
                    //- textarea(id='researchPaper' name='researchPaper')  
                    input(type='file' name='researchPaper' id='researchPaper' accept=".pdf" style='padding-bottom:0;')
                    div.error(id='researchPaperError')
                    input(type='hidden' name='researchPaperName' id='researchPaperName')
                    input(type='hidden' name='researchPaperEncoded' id='researchPaperEncoded')
                    input(type='hidden' name='researchPaperType' id='researchPaperType')              

            section
                h3 E. Planned Date of Entry 計劃入學日期
                div.question.required
                    label(for='dateOfEntry') 
                        span Date of Entry 
                        br
                        span 入學日期
                    div
                        input(type='radio' id='fall' name='dateOfEntry' value='fall')
                        label(for='fall') Fall 秋季 (September 九月)
                    div
                        input(type='radio' id='spring' name='dateOfEntry' value='spring')
                        label(for='spring') Spring 春季 (January 一月)
                    div
                        input(type='radio' id='summer' name='dateOfEntry' value='summer')
                        label(for='summer') Summer 夏季 (May 五月)                    
                div.question.required
                    label(for='yearOfEntry') 
                        span Year of Entry 
                        br
                        span 入學年份
                    input(type='text' id='yearOfEntry' name='yearOfEntry')   

            section
                h3  F. Your Referees 推薦人資料
                div.section-desc 
                    div Your Referees (MTS applicant – two reference letters are required; MDiv, MMin and DMin applicant – three reference listed below are requireed.)
                    div 申請人需下載相關推薦信檔案, 邀請推薦人填寫, 並直接郵寄或電郵到本校。
                    ul(style="padding:0; padding-left:30px; padding-top:5px; padding-bottom:15px; margin:0")
                        li 神學研究課程的申請人, 需要兩份推薦。
                        li 道學碩士課程及教牧學碩士課程, 三份不同類別的推薦包括: 所屬教會牧者 + 教牧推薦 + 學術或雇主。
                        li 教牧學博士課程, 三份不同類別的推薦包括: 所屬教會牧者 + 教會或機構認可信 / 教牧推薦 + 學術。
                    div
                        div(style='padding-bottom:5px;')
                            span(style="text-decoration: underline; font-weight:bold") 教牧學博士課程
                            span 申請人請注意:
                        div 收到你的申請表後, 本校將要求你呈交
                        ul(style="padding:0; padding-left:30px; padding-top:5px; margin:0")
                            li Curriculum Vitae / 事奉履歷表
                            li 
                                div Letter of Endorsement/ 教會或機構認可信 *
                                div (if not applicable, applicant should prepare one extra pastoral reference letter)
                                div (申請人若未能提供教會或機構認可信, 則需遞交多一份教牧推薦)

                div.question.required
                    label(for='referenceHomeChurch') 
                        span Home Church Pastoral Reference 
                        br
                        span 所屬教會牧者推薦
                    textarea.short(id='referenceHomeChurch' name='referenceHomeChurch')   
                    div.helper 
                        div Name (in Chinese & English), Position/Title, Telephone, E-mail, Name of Church, Connection to the Applicant
                        div 
                            span Please download the 
                            a(href='../../pdf/ReferenceHomeChurchEng.pdf' target='_blank') letter for the Home Chruch Pastoral Reference
                        div 
                            span 請在此下載
                            a(href='../../pdf/ReferenceHomeChurch.pdf' target='_blank') 所屬教會牧者推薦 

                div.question.required
                    label(for='referencePastoral') 
                        span Pastoral/Lay Leader Reference 
                        br
                        span 教牧推薦人 
                    textarea.short(id='referencePastoral' name='referencePastoral')   
                    div.helper 
                        div Name (in Chinese & English), Position/Title, Telephone, E-mail, Name of Church, Connection to the Applicant
                        div 
                            span Please download the 
                            a(href='../../pdf/ReferencePastoralLayLeaderEng.pdf' target='_blank') letter for the Pastoral/Lay Leader Reference
                        div 
                            span 請在此下載
                            a(href='../../pdf/ReferencePastoralLayLeader.pdf' target='_blank') 教牧推薦

                div.question.required
                    label(for='referenceProfessional') 
                        span Professional/Employer Reference 
                        br
                        span 專業或雇主推薦人 
                    textarea.short(id='referenceProfessional' name='referenceProfessional') 
                    div.helper 
                        div Name (in Chinese & English), Position/Title, Telephone, E-mail, Name of Church, Connection to the Applicant
                        div 
                            span Please download the 
                            a(href='../../pdf/ReferenceAcademicEmployerEng.pdf' target='_blank') letter for the Professional/Employer Reference
                        div 
                            span 請在此下載
                            a(href='../../pdf/ReferenceAcademicEmployer.pdf' target='_blank') 專業或雇主推薦推薦                        

            
            section
                h3 G. Emergency Contact 緊急聯絡人
                div.question
                    label(for='emergencyContact') 
                        span Person to contact in case of emergency 
                        br
                        span 如有緊急事故，請聯絡
                    select(name='emergencyContact' id='emergencyContact')
                        option(value='') Choose
                        option(value='parent') Parent 父母
                        option(value='spouse') Spouse 配偶
                        option(value='friend') Friend 朋友
                        option(value='otherRelative') Other Relative 其他親人                 
                div.question
                    label(for='emergencyContactName') 
                        span Name 
                        br
                        span 姓名
                    input(type='text' id='emergencyContactName' name='emergencyContactName')
                div.question
                    label(for='emergencyContactPhone') 
                        span Phone Number 
                        br
                        span 電話
                    input(type='text' id='emergencyContactPhone' name='emergencyContactPhone')
                div.question
                    label(for='emergencyContactEmail') 
                        span Email 
                        br
                        span 電郵
                    input(type='text' id='emergencyContactEmail' name='emergencyContactEmail')  

            section
                h3 H. FEES &#38; DECLARATION 費用及聲明
                div.section-desc 
                    div
                        span Please check the box beside after you read the following sections. 
                        br
                        span 請細閱以下有關費用及聲明的細節。
                    ul(style='margin:0; padding-left:15px;')
                        li.section-desc(style='list-style: upper-alpha;')
                            div.question
                                div(style='display: flex;')
                                    input(type='checkbox' id='declaration_a1' name='declaration_a1' style='margin:2px;') 
                                    div(style='padding-left: 15px;')
                                        span Your application will be considered complete once an application form, original transcripts, reference letters, testimony and any required application supplements are received in full by the CCST Vancouver Admission Office.  All applicants are required to attend an admission interview.  M.Div. applicants will be required to take a one-hour-Bible test. The submission of an application does not imply acceptance of the applicants by the School.  
                                        br
                                        span 當「加神溫哥華」註冊處收到你的申請表、學校成績單、推薦信、見證及其他有關的申請補充資料後，您的申請即被視為完整。所有初步合資格的申請人都將安排參加入學面試。 道學碩士的申請人同時需要參加一小時的聖經測試。完成以上申請程序並不代表學校的錄取。
                            div.question
                                div(style='display: flex;')                             
                                    input(type='checkbox' id='declaration_a2' name='declaration_a2' style='margin:2px;') 
                                    div(style='padding-left: 15px;')
                                        span An 
                                        strong APPLICATION FEE 
                                        span of $50 ($150 for non-North American applicants) must be submitted with the application.  This fee is non-refundable.                       
                                        br
                                        span 申請費為50加元（非北美申請人150加元）。此費用在任何情況下不予退還。
                            div.question
                                div(style='display: flex;')
                                    input(type='checkbox' id='declaration_a3' name='declaration_a3' style='margin:2px;') 
                                    div(style='padding-left: 15px;')
                                        span For local applicants, a $300 
                                        strong TUITION DEPOSIT 
                                        span must be sent upon notice of your acceptance to reserve a place at CCST Vancouver. It is non-refundable but applicable to tuition. International student should observe the payment schedule as per International Student Policy.
                                        br
                                        span 當本地申請人收到錄取通知後，必需繳交300加元的學費按金，以保留在「加神溫哥華」的學籍。 按金不予退還，但適用於學費。 國際學生應遵守國際學生政策的付款時間表。
                            div.question
                                div(style='display: flex;')
                                    input(type='checkbox' id='declaration_a3' name='declaration_a3' style='margin:2px;') 
                                    div(style='padding-left: 15px;')
                                        span For international applicants, as soon as you have arrived in Vancouver, you should go to our school with your study permit to register. At the same time, you must pay CAD$3,000 school fee deposit.
                                        br
                                        span 當國際學生抵步溫哥華後, 應盡快帶同你的學習許可證到本校註冊, 並同時繳交加幣 $3,000學費按金或全學期學費, 以確定你的學生身份及在「加神溫哥華」的學籍。
                        
                        li.section-desc(style='list-style: upper-alpha;')
                            div 
                                span Please read carefully the 
                                strong CONDITIONS OF ADMISSION 
                                span below. 
                                br
                                span 請仔細閱讀下面的入學條件。
                            div
                                div.question
                                    div(style='display: flex; padding-bottom:15px;')
                                        input(type='checkbox' id='declaration_b1' name='declaration_b1' style='margin:2px;') 
                                        div(style='padding-left: 15px;')
                                            span Only those who are committed to following the Lord Jesus Christ and who are deemed suitable for Christian leadership are accepted into degree programs.
                                            br
                                            span 只有那些承認跟隨主耶穌基督，並被認為適合作基督徒領袖的申請人才能被錄取修讀本校學位課程。
                                div.question
                                    div(style='display: flex; padding-bottom:15px;')
                                        input(type='checkbox' id='declaration_b2' name='declaration_b2' style='margin:2px;') 
                                        div(style='padding-left: 15px;')
                                            span Individuals who are accepted to study at CCST Vancouver are expected to enter heartily into the fellowship of the School family, to co-operate with their fellow students in the self-government of the student body, and, while maintaining their loyalty to their denominations, to cultivate a sympathetic understanding of other denominations. 
                                            br
                                            span 被本校取錄的申請人必需願意加入本校的群體，與同學一起在學生團體中磨合，願意對學校及自己所屬的教會群體忠誠，並願意培養對其他宗派及教會群體的理解。
                                div.question
                                    div(style='display: flex; padding-bottom:15px;')
                                        input(type='checkbox' id='declaration_b3' name='declaration_b3' style='margin:2px;') 
                                        div(style='padding-left: 15px;')
                                            span Should the candidate, for any reason, be deemed by the faculty to be not suited for Christian conduct, he/she will be informed of this decision and be rejected his/her application.
                                            br
                                            span 如果候選學生因為任何原因被師長認為行為未能表現出基督徒操守，則將有可能被拒絕申請。

                        li.section-desc(style='list-style: upper-alpha;')
                            div.question
                                div(style='display: flex; padding-bottom:15px;')
                                    input(type='checkbox' id='declaration_c' name='declaration_c' style='margin:2px;') 
                                    div(style='padding-left: 15px;')
                                        div 
                                            span As a Christian and a candidate for admission to Canadian Chinese School of Theology Vancouver, I commit myself to live and work for the honour of Jesus Christ, the good of the School community, the renewal of the body of Christ, and the well-being of my particular congregation and denomination. I am prepared to receive evaluation in the areas of academics and suitability for proposed ministry. I affirm that I understand the 
                                            a(href='../../pdf/StatementOfFaithEng.pdf' target='_blank') Statement of Faith 
                                            span of CCST Vancouver. I understand and will abide by the admission and academic policies and standards.  I understand that if I, for any reason, be deemed by the faculty to be not suited for Christian conduct, I will be informed of this decision and be asked to suspend my student status. 
                                        div 作為一名基督徒和「加神溫哥華」的候選學生:
                                        ul  
                                            li 我立志致力於榮耀耶穌基督、保護學校群體的利益，並積極牟求基督身體的更新和合一。
                                            li 我亦願意接受學術領域及有助我將來事奉的評估。
                                            li 
                                                span 我認同「加神溫哥華」的《
                                                a(href='../../pdf/StatementOfFaith.pdf' target='_blank') 信仰宣言
                                                span 》。
                                            li 我願意了解並將遵守入學及學術政策和標準。
                                            li 我明白如果我因為任何原因被師長認為行為沒有基督徒操守，則將有可能被終止我的學生身份。
                
                div.section-desc
                    div.question
                        div(style="display: flex;") 
                            input(type='checkbox' id='declaration_correct' name='declaration_correct' style='display: block; margin:0; margin-top:2px; margin-right: 15px;')
                            div 
                                span I certify that the information provided in this application is complete and correct.
                                br
                                span 我保證我在申請過程提供的信息是完整和正確的。

                div.question.required
                    label(for='signature') 
                        span My signature to confirm my application. 
                        br
                        span 我在此打印我的名字以代表我的簽名:
                    input(type='text' id='signature' name='signature') 
                div.question.required
                    label(for='signatureDate') 
                        span Date:
                        br
                        span 簽名日期:
                    input(type='date' id='signatureDate' name='signatureDate')
                

            div.submit-container
                div#submitWait.lds-ring
                    div
                button(type='submit' id="submitBtn") Submit 提交

        script(src='/javascripts/app/register/register.js')

                                