extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/admissions.css')

block content

    div.admissions.module
        div.container
            include side-nav
            +side-nav('admissions', [{name:'ccstvancouver', link:'/admissions-vancouver'}, {name:'apply', link:'/admissions-apply'}, {name:'programs', link:'/admissions-programs'}, {name:'fees', link:''}, {name:'financialAssistance', link:''}, {name:'internationalStudent', link:''}])

            div.context 
                block admission-content