extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/admissions.css')

block content

    div.admissions.module
        div.container
            include side-nav
            +side-nav('Admissions', [{name:'Vancouver', link:'/admissions-vancouver'}, {name:'apply', link:'/admissions-apply'}, {name:'programs', link:'/admissions-programs'}, {name:'fees', link:''}, {name:'financial assistance', link:''}, {name:'international student', link:''}])

            div.context 
                block admission-content