doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='viewport-fit=cover, initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    meta(name='format-detection' content='telephone=no')
    
    title= title
      
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='icon' href='images/favicon.ico' type='image/x-icon')

    link(rel='stylesheet', href='/stylesheets/style.css')
        
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto|Noto+Sans+SC')

    script(src='javascripts/jquery.min.js')

    block style

  body(class=locale)

    div.header-container
      div.content
        div.logo

    block content
