
mixin side-nav(title, items)
    header.side-nav= __(title)
    nav.side-nav
        //- div.title= title
        ul.nav-links
            each item, index in items
                li(class= (index==sideNavHLIndex) ? '_selected link' : 'link')
                    a(href=item.link)!= __(item.name)

    script.
        $(function(){
            var navLinks = $('nav.side-nav'),
                offsetTop = navLinks.offset().top;  
            
            $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                if (scroll >= offsetTop){
                    navLinks.addClass('fixed');
                }else{
                    navLinks.removeClass('fixed');
                } 
            });
        })