
mixin side-nav(title, items)
    header.side-nav= __(title)
    nav.side-nav
        //- div.title= title
        ul.nav-links
            each item, index in items
                li(class = (index==sideNavHLIndex) ? '_selected link '+ item.class : 'link ' + item.class)
                    a(href = (item.link ? item.link+'?lang='+__('locale') : (item.hlink ? item.hlink : __(item.dlink)+'?lang='+__('locale') )) target = item.target)!= __(item.name)