section#staff h1{
    background-image: url('../../images/staffs.png');
}

.staffs_container {
    display: flex;
    justify-content: space-between;
}
.staffs_container > div{
    flex-basis: 45%;
}

.staff_container {
    padding-bottom: 0.75rem;
}

.staff_container>div:first-child {
    background-color: gray;
    padding: 5px;
    color: white;
}

@media (min-width: 576px) {
    .staff_container {
        display: flex;
    }
    .staff_container>div:first-child{
        text-align: right;
        background-color: inherit;
        padding: 0;
        padding-right: 1rem;
        flex-basis: 40%;
        color: #333;
    }
}