section h1{
    background-size: cover;
}
section#staff h1{
    background-image: url('../../images/staffs.png');
}
section#board h1{
    background-image: url('../../images/directors.png');
}
section#contactus h1{
    background-image: url('../../images/contactus.png');
    background-position: right;
}
section#accreditation h1{
    background-image: url('../../images/certificate.png');    
}

.staffs_container {
    display: block;
}

.staffs_container > div.staffs{
    flex-basis: 45%;
}

.staffs_container > div.staffs:last-child{
    display: none;
}

.staff_container {
    /* padding-bottom: 1.25rem; */
    background-color: #eee;
    border-radius: 5px;
    margin-bottom: 1.25rem;
    border-radius: 5px;
    position: relative;
}
.staff_container div.header{
    display: flex;
    align-items: flex-start;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
}
.staff_container > .header > .titles{
    margin-top: -5px;
    margin-right: -5px;
}
.staff_container div.profile{
    width: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50px;
    margin-right: 10px;
    background-color: gray;
    background-image: url(../../images/baseline-person-24px.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    margin-left: 15px;
}

.staff_container div.detail{
    padding: 0 15px;
    display: flex;
    align-items: baseline;
}

.staff_container  div.titles > div {
    background-color: gray;
    padding: 0 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 0.85rem;
}
.staff_container  div.name{
    font-weight: bold;
    padding-right: 15px;
    white-space: nowrap;
}
.staffs_container div.edu{
    font-size: 0.75rem;
    white-space: nowrap;    
}

.member_container{
    display: flex;
    margin-bottom: 5px;
}
.member_container > div{
    padding: 5px;
}
.member_container > div:first-child{
    flex-basis: 25%;
    margin-right: 1rem;
    background-color: gray;
    color: white;
}
.member_container > div:last-child{
}


.link_container{
    display: flex;
    align-items: center;
    color: #999;
    padding: 5px 0;
}
.link_container i{
    padding-right: 5px;
}
.link_container a{
    display: block;
    overflow-wrap: break-word;
    overflow: auto;
    color: #999;
    font-size: 0.85rem;
}


#contactus .details{
    padding-bottom: 15px;
}
#contactus .details div:first-child{
    background-color: gray;
    color: white;
    padding: 5px;
}


@media (min-width: 992px) {
    .staffs_container {
        display: flex;
        justify-content: space-between;
    }
    .staffs_container > div.staffs:last-child{
        display: block;
    }
    .staffs_container > div.staffs > div.staff_container.sm{
        display: none;
    }

    #contactus .details{
        display: flex;
        align-items: center;
    }
    #contactus .details div:first-child{
        min-width: 150px;
        text-align: right;
        margin-right: 25px;
    }
}