/*override style.css*/
.container.section > ul.desc-container{
    padding: 1rem;
}


.home{
    padding-top: 0;
    display: block;
}
.home a{
    color: white;
}
.home>.container>.top-image-container{
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
      ), url(../images/ccstvanstudents.png);
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    border: none;
    color: white;
    width: 100%;
    display: table;
}
.home > .container > .top-image-container > .table-cell{
    display: table-cell;
    vertical-align: middle;
    padding: 25px;
}
.home > .container > .top-image-container > .motto_container{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0,0,0,0.45);
    padding: 25px;
}
.home > .container > .top-image-container .school_logo{
    background-image: url('/images/logo_lg.png');
    background-repeat: no-repeat;
    width: 110px;
    height: 110px;
    background-size: contain; 
    position: relative;
    left: 50%;
    margin-left: -55px;
    padding-bottom: 25px;
}
.home > .container > .top-image-container .motto{
    font-size: 2rem;
    padding-bottom: 0.75rem;
    line-height: 1.5;
    text-align: center;
}
body.en .home > .container > .top-image-container .motto{
    font-size: 1.5rem;
}
.home > .container > .top-image-container ul.actions{
    padding-top: 25px;
}
.home > .container > .top-image-container ul.actions li.action{
    padding-bottom: 10px;
}
.home > .container > .top-image-container ul.actions li.action a{
    display: inline-block;
    background-color: #107ab3;
    padding: 5px;
}
.home > .container > .top-image-container ul.actions li.action a > div{
    display: flex;
    align-items: center;
}
.home > .container > .top-image-container ul.actions li.action a > span{
    padding: 5px;
}




.home .container .context{
    padding: 1rem;
    background-color: white;
    border: none;
    margin-left: 0;
}
.home .container .context > .header{
    font-size: 1.25rem;
    color:#333;
    padding-bottom: 1rem;
}
.home .container .context .header .title{
    padding: 1rem;
    background-color: rgba(100,0,0,0.75);
    font-size: 1.25rem;
    color: white;
}


.home .container.section.building > .header{
    background: url('../images/building_plan.png') no-repeat center;
    background-size: cover;
}


@media (min-width: 576px) {
    .home > .container > .top-image-container .school_logo{
        position: absolute;
        left: 50px;
        margin-left: 0;
    }
    .home > .container > .top-image-container .motto_container{
        margin-left: 150px;
    }
    .home > .container > .top-image-container .motto_container .motto{
        text-align: left;
    }
}
  
@media (min-width: 768px) {
    .home > .container > .top-image-container .school_logo{
        width: 150px;
        height: 150px;
    }
    .home > .container > .top-image-container .motto_container{
        margin-left: 200px;
    }
    .home > .container > .top-image-container ul.actions li.action a{
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    .home > .container > .top-image-container .school_logo{
        width: 200px;
        height: 200px;
    }
    .home > .container > .top-image-container .motto_container{
        margin-left: 250px;
    }
    .home > .container > .top-image-container ul.actions li.action a{
        font-size: 1.25rem;
    }
}