/*override style.css*/
.container.section > ul.desc-container{
    padding: 1rem;
    background-color: #eee;
    font-weight: 500;
}


.home{
    padding-top: 0;
    display: block;
}
.home a{
    color: white;
}


.home > .container > .ccstvan{
    display: block;
    padding-top: 15px;
}
.home > .container > .ccstvan > .image{
    height: 250px;
    margin-bottom: 15px;

    min-width: 50%;
    max-height: 250px;
    background-image: url(../images/ccstvanstudents.png);
    background-position: center;
    background-size: cover;
}
.home > .container > .ccstvan > .text{
    padding-right: 15px;
}
.home > .container > .ccstvan > .text > .title{
    font-size: 1.25rem;
    font-weight: bold;
}
.home > .container > .ccstvan > .text > .motto{
    padding-bottom: 15px;
}
.home > .container > .ccstvan > .logo{
    margin-bottom: 25px;

    min-width: 35%;
    background-image: url(/images/logo_lg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 150px;
}
.home > .container > .ccstvan .actions{
    display: flex;
    align-items: stretch;
    justify-content: space-between;    
}
.home > .container > .ccstvan .actions > .action {
    margin-right: 4px;
    margin-bottom: 4px;
    padding: 15px 5px;
    background-color: steelblue;
}
.home > .container > .ccstvan .actions > .action a {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.actions.link > .action {
    background-color: cadetblue !important;
}

.events_heading{
    margin-bottom: 15px;
    font-weight: bold;
    background: url(/images/classroom2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 125px 10px 25px 8px;
    color: white;
    font-size: 1.5rem; 
    margin-bottom:15px; 
    font-weight:bold;
}
.events{
    margin: 1rem 0 2rem 0 !important;
}
.event{
    position: relative;
    display: flex;
    padding: 15px;
    padding-top: 25px;
    background-color: steelblue;
    margin: 0 0 15px 0;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
.event .container{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.event .icon span{
    margin-right: 15px;
    font-size: 3rem;
    color: darkred;
}
.event .special{
    position: absolute;
    padding-bottom: 5px;
    font-size: 0.8rem;
    left: auto;
    right: 0;
    background-color: inherit;
}
.event .calendar{
    min-width: 65px;
    padding: 5px;
    background-color: darkred ;
    margin-right: 15px;
    border-radius: 5px;
}
.event .calendar > div.year{
    font-size: 0.85rem;
}
.event .calendar > div.date{
    background-color: white;
    color: black;
    padding: 5px;
}
.event .calendar > div.date > div:first-child{
    font-weight: bold;
}
.event .calendar > div.date > div:last-child{
    font-size: 0.85rem;
    font-weight: bold;
}

.event div.content > div.title{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 1.25;
}


section > h1{
    background: url(../../images/news.png) no-repeat right;
    background-size: cover;
    height: 200px;

    display: none;
}
.home .container.section{
    position: relative;
    font-weight: 300;
    margin: 0;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

.special{
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    background-color: rgba(150,0,0,0.8);
    padding: 0 10px;
}
.home .container.section > .header{
    margin-top: 4rem;
    color: white;
    margin-right: 15px;
    padding-bottom: 0;
    margin-right: 0;
    border-radius: 0;
}

.home .container.section > .header > .announce{
    padding-top: 125px;
    background-size: cover;
    padding-bottom: 20px;
}
.home .container.section.principle > .header > .announce{
    background: url(../images/news.png) no-repeat center;
}
.home .container.section.building > .header > .announce{
    background: url(../images/notices.png) no-repeat left;
    background-size: cover;
    color: black;
}
.home .container.section > .header > .announce div.date{
    font-size: 1.5em;
}
.home .container.section > .header > .announce > div{
    font-weight: bold;
    padding-left: 10px;
}
.home .container.section > .header > .title{
    padding-top: 15px;
    font-size: 2rem;
    font-weight: bold;
}
.home .container.section > .header > .click{
    display: flex;
    padding-top: 15px;
    align-items: center;
}

.home .container.section ul.desc-container > li{
    margin-bottom: 15px;
    color: black;
}
.home .container.section ul.desc-container .email{
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.home .container.section ul.desc-container ul.pointform{
    padding-left: 25px;
}
.home .container.section ul.desc-container ul.pointform > li{
    list-style: decimal;
} 

.home .date-detail{
    display: flex;
}
.home .date-detail > div{
    padding-right: 10px;
}



@media (min-width: 576px) {
}
  
@media (min-width: 768px) {
    .home > .container > .ccstvan{
        display: flex;
        flex-direction: row-reverse;
    }
    .home > .container > .ccstvan > .image{
        height: auto;
        margin: 0;
    }
    .home .container section{
        margin-left: 0;
    }

    .home .container.section.principle > .header{
        max-width: none;
        width: inherit;
    }

    .home .date-detail{
        display: block;
        padding-bottom: 10px;
    }
    .home .date-detail > div{
        padding-right: inherit;
        margin-bottom: -5px;
    }

    .events > div{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    .events a{
        width: 49%;
        padding: 25px 0 15px 0;
    }
}

@media (min-width: 992px) {
    .home > .container > .ccstvan > .logo{
        min-height: 250px;
    }
}