.navbar .container{
    border-bottom: 1px solid rgba(0,0,0,0.5);
    padding-bottom: 0.25rem;
}

.navbar-tools {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}

.navbar-tools #langBtn{
    cursor: pointer;
}

.navbar-logo {
    display: block;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-size: 1.15rem;
    font-weight: 700;
    color: rgba(0, 0, 0, .9);
    width: 55px;
    height: 55px;
    background: url('/images/logo.png') no-repeat;
    background-size: contain;
    margin: auto;
}

.navbar-logo img {
    height: 100%;
    vertical-align: middle;
}

.navbar-items-container {
    display: block;
}

.navbar-items-container .title{
    font-size: 1.35rem;
    text-align: center;
    padding-top: 10px;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link {
    padding: 1.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0;
    font-weight: 700;
    letter-spacing: .05rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: .8rem;
    color: rgba(0, 0, 0, .5);
    width: 25%;
    text-align: center;
}


.nav-link a {
    color: rgba(0, 0, 0, .7);
}

@media (max-width: 575px) {
    .navbar>.container {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 576px) {
    .nav-link{
        font-size: 1rem;
    }
    .navbar-logo{
        float: left;
    }
    .navbar-items-container .title{
        font-size: 1.15rem;
        text-align: left;
        padding-left: 65px;
    }
    .navbar-items {
        justify-content: flex-start;
    }
}

@media (min-width: 768px) {
    .navbar-items-container .title{
        font-size: 1.3rem;
    }
}

@media (min-width: 992px) {
}