header.side-nav{
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0.75rem;
    flex-basis: 100%;
}

nav.side-nav {
    flex-basis: 100%;
    border: none;
    padding-right: 0;
    color: black;
}

nav.side-nav>.title {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

nav.side-nav>ul.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav.side-nav li {
    font-size: 0.75rem;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    nav.side-nav{
        
    }
    nav.side-nav>ul.nav-links{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    nav.side-nav > ul.nav-links > li{
        flex-basis: 33%;
        height: 65px;
        position: relative;
    }
    nav.side-nav > ul.nav-links > li > a{
        position: absolute;
        top: 0;
        bottom: 5px;
        left: 0;
        right: 5px;
        background-color: #0845a8;
        padding-top: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: white;
    } 
    nav.side-nav > ul.nav-links > li.selected > a{
        background-color: rgba(135,12,12,1);
    }   
}

@media (min-width: 576px) {
    nav.side-nav li.selected {
        border-bottom: 2px solid rgba(135,12,12,1);
    }
}

@media (min-width: 768px) {
    header.side-nav{
        padding-bottom: 1.5rem;
    }

    nav.side-nav {
        display: block;
        flex-basis: 20%;
    }
    nav.side-nav>ul.nav-links {
        display: block;
        height: 100%;
        padding-right: 1.25rem;
        border-right: 1px dotted #aaa;
    }
    nav.side-nav li {
        font-size: 0.85rem;
        padding: 1rem 0.5rem 1rem 0rem;
    }
    nav.side-nav li.selected {
        border-bottom: none;
    }
    nav.side-nav li.selected a {
        border-bottom: 2px solid rgba(135,12,12,1);
    }
}

@media (min-width: 992px) {
    nav.side-nav{
        flex-basis: 20%;
    }
}