header.side-nav{
    font-size: 1.5rem;
    color: black;
    text-transform: uppercase;
    padding-bottom: 0.75rem;
}

nav.side-nav {
    border: none;
    padding-right: 0;
    color: black;
    position: relative;
}

nav.side-nav>.title {
    font-size: 1.25rem;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

nav.side-nav>ul.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    padding: 10px 0;
}

nav.side-nav li {
    font-size: 0.85rem;
    text-transform: uppercase;
}

@media (max-width: 575px) {
    nav.side-nav>ul.nav-links{
        flex-wrap: wrap;
        padding: 0;
        padding-top: 10px;
    }
    nav.side-nav > ul.nav-links > li{
        flex-basis: 32%;
        height: 65px;
        margin-bottom: 5px;
        position: relative;
    }
    nav.side-nav > ul.nav-links > li > a{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0845a8;
        padding-top: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        color: white;
    } 
    nav.side-nav > ul.nav-links > li.selected > a{
        background-color: rgba(135,12,12,1);
    }  
    
    nav.side-nav.fixed{
        padding-bottom: 150px;
    }
    nav.side-nav.fixed .nav-links{
        top: 10px;
        left: 1rem;
        right: 1rem;
    }
}

@media (min-width: 576px) {

    nav.side-nav li {
        text-align: center;
        border-left: 1px dotted;
        display: block;
        padding: 0 3px;
        flex-basis: 100%;
    }
    nav.side-nav li:first-child{
        border-left: none;
    }
    
    nav.side-nav li.selected {
        border-bottom: 2px solid rgba(135,12,12,1);
    }

    nav.side-nav.fixed{
        padding-bottom: 44px;
    }

    nav.side-nav > ul.nav-links{
        justify-content: space-evenly;
        align-items: stretch;
    }
    nav.side-nav.fixed .nav-links{
        width: 540px;
    }
}

@media (min-width: 768px) {

    nav.side-nav li {
        text-align: left;
        border-left: none;
    }
    
    header.side-nav{
        padding-bottom: 1.5rem;
    }

    nav.side-nav {
        display: block;
        width: 175px;
        position: absolute;
    }
    nav.side-nav>ul.nav-links {
        display: block;
        padding: 0;
        /* height: 100%; */
        background-color: white;
    }
    nav.side-nav li {
        font-size: 0.85rem;
        padding: 1rem 0.5rem 1rem 0rem;
    }
    nav.side-nav li.selected {
        border-bottom: none;
    }
    nav.side-nav li.selected a {
        border-bottom: 2px solid rgba(135,12,12,1);
    }

    nav.side-nav.fixed{
        padding-bottom: 0;
    }
    nav.side-nav.fixed .nav-links{
        width: 175px;
    }
}

@media (min-width: 992px) {
}



nav.side-nav.fixed .nav-links {
   position: fixed;
   top:0; 
   z-index: 99;
}
