* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}

:visited {
  color: #333;
}

html {
  line-height: 1.15;
}

body {
  background-color: black;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 2rem;
}

body.zh{
  font-family: 'Noto Sans SC', sans-serif;
}

h2 {
  color: #333;
}

a {
  color: black;
  text-decoration: none;
  line-height: 1.25rem;
}

a:visited {
  color: black;
}

li {
  list-style: none;
}

.padding-bottom-half-rem {
  padding-bottom: 0.5rem;
}

.module {
  position: relative;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  flex-wrap: nowrap;
}

.module>.container {
  position: relative;
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-bottom: 1.25rem;
}

.module>.container>.context {
  position: relative;
  display: block;
  padding-top: 1rem;
}

section {
  margin-bottom: 2rem;
  border-bottom: 1px dotted gray;
  display: block;
}

section:last-child {
  margin-bottom: 0;
  border-bottom: none;
  border-bottom: none;
}

section>h1 {
  height: 150px;
  background-color: #870c0c;
}

section>h1>span {
  display: inline-block;
  background-color: rgba(135, 12, 12, 0.85);
  color: white;
  font-size: 1.25rem;
  padding: 0.85rem;
  margin-top: 1rem;
  border-radius: 0 1rem 1rem 0;
  text-transform: uppercase;
  margin-right: 50px;
}

/* section > div{
  color: #333;
  padding: 1rem 2rem 0 2rem;
  font-weight: 300;
}
section.no-box > div{
  background-color: inherit;
  padding: 0;
  padding-top: 1rem;
}
section > div .wrap-boxes{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
} */

section>*:not(*:first-child) {
  font-weight: 300;
  margin: 1rem 15px 2rem 15px;
}

/* article{
  font-weight: 300;
  padding: 1rem 25px 1.5rem 0;
  margin-left: 25px;
}
article h1{
  padding-bottom: 1.25rem;
} */

/*numbering
.numbering{
  position: relative;
  display: flex;
}
.numbering > *:first-child {
  min-width: 25px;
  width: 25px;
  max-width: 25px;
}
.numbering > *:not(*:first-child){
  width: 100%;
}
*/

/*title + paragraph*/

.title-paragraph>h1:first-child {
  font-size: 1.2rem;
}

.title-paragraph>*:first-child {
  padding-bottom: 1rem;
}

.title-paragraph>*:not(:first-child) {
  margin-left: 25px;
}

.title-paragraph {
  margin-bottom: 1.25rem;
}

.wrap-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* section > ul.desc-container > li{
  padding-bottom: 1.25rem;
}
section > ul.desc-container > li:last-child{
  padding-bottom: 0;
} */

/*box container*/

.box-container {
  background-color: white;
  border: 2px solid rgb(135, 12, 12);
  border-top: none;
  margin-bottom: 0.5rem;
}

.box-container>div.title {
  background-color: rgba(135, 12, 12, 1);
  color: white;
  font-weight: 400;
  padding: 0.5rem;
}

.box-container>div.context {
  padding: 0.5rem;
}

ul.numbering {
  list-style: none;
  counter-reset: ul-counter;
}

ul.numbering>li {
  counter-increment: ul-counter;
  margin: 0 0 1.25rem 25px;
  position: relative;
}

ul.numbering>li::before {
  content: counter(ul-counter) ". ";
  position: absolute;
  width: 25px;
  left: -25px;
}

ul.numbering-abc {
  list-style: none;
  counter-reset: ul-counter-abc;
}

ul.numbering-abc li {
  counter-increment: ul-counter-abc;
  margin: 0 0 0.5rem 25px;
  position: relative;
}

ul.numbering-abc li::before {
  content: counter(ul-counter-abc, lower-alpha) ". ";
  position: absolute;
  width: 25px;
  left: -25px;
}

.question-answer>div::before {
  width: 30px;
  left: -30px;
  position: absolute;
}

body.en .question-answer>div:first-child::before {
  content: 'Q:';
}

body.en .question-answer>div:last-child::before {
  content: 'A:';
}

body.zh .question-answer>div:first-child::before {
  content: '問:';
}

body.zh .question-answer>div:last-child::before {
  content: '答:';
}

.question-answer>div {
  margin: 0 0 0.5rem 30px;
  position: relative;
}

.footer {
  background-color: black;
  color: white;
}

.footer>.container {
  padding: 2rem 1rem 0.5rem 1rem;
  margin: auto;
}

.footer>.container>div.copyright-container {
  background: url(../images/logo_bw.png) no-repeat top center;
  background-size: 40px;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 65px;
  background-position: center 15px;
}

.footer>.container>div.title {
  font-size: 2em;
  padding-bottom: 1em;
  text-align: center;
  line-height: 1.25;
}

.footer>.container div.details {
  padding-bottom: 0.5em;
  display: flex;
  align-items: stretch;
}

.footer>.container div.details div:first-child {
  width: 200px;
  text-align: right;
  /* background-color: rgb(8, 29, 121); */
  padding: 5px 15px;
}

.footer>.container div.details>*:last-child {
  /* margin-left: 50px; */
  flex-basis: 100%;
  padding: 5px 15px;
  /* background-color: rgba(135, 12, 12, 0.85); */
}

.footer > .container > div.contactFormContainer{
  margin-top: 25px;
}
.footer > .container div.inputs{
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  border-top: 1px solid white;
  padding: 15px;
}
.footer > .container div.inputs > h2{
  color: white;
  padding-bottom: 10px;
}
.footer>.container div.inputs input,
.footer>.container div.inputs textarea{
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  flex-basis: 100%;
  background-color: rgb(253, 253, 189);
  border: none;
}
.footer > .container div.inputs > textarea{
  height: 150px;
  resize: none;
}
.footer > .container div.inputs > #sendFeedbackBtn{
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 15px;
}
.footer > .container div.inputs > .error_msg{
  margin-top: -15px;
  margin-bottom: 15px;
  display: none;
  font-size: 0.85em;
}
.footer > .container div.inputs > .error_msg.show{
  display: block;
}

.footer a.email{
  color: white;
  /* padding-bottom: 10px; */
  display: block;
  padding: 5px;
}

div.color_border{
  margin-top: 10px;
}
div.color_border > div{
  height: 3px;
}
div.color_border > div.blue{
  background-color: rgb(20, 20, 100);
}
div.color_border > div.yellow{
  background-color: rgb(241, 241, 173);
  height: 2px;
}
div.color_border > div.red{
  background-color: rgb(99, 27, 27);
}

@media (min-width: 576px) {
  .module>.container, .footer>.container {
    max-width: 540px;
  }
  /* .container.section.side-by-side {
    display: flex;
    align-items: stretch;
    padding-bottom: 50px;
  }
  .container.section.side-by-side>.header {
    flex-basis: 30%;
    height: auto;
  }
  .container.section.side-by-side>.desc-container {
    flex-basis: 70%;
  } */
  .footer>.container>div.title {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .module>.container, .footer>.container {
    max-width: 720px;
  }
  .container.section.side-by-side {
    display: flex;
    align-items: stretch;
    padding-bottom: 50px;
  }
  .container.section.side-by-side>.header {
    flex-basis: 50%;
    height: auto;
  }
  .container.section.side-by-side>.desc-container {
    flex-basis: 50%;
  }
  .module>.container>.context {
    padding-top: 0;
    margin-left: 165px;
    border-left: 1px dotted gray;
    /* padding-left: 2rem; */
  }
  
  section {
    margin-left: 2rem;
  }

  div.footer div.informations{
    display: flex;
  }
  .footer > .container div.inputs{
    border-top: none;
    margin-top: 0;
    border-left: 1px solid white;
    padding-left: 25px;
  }
}

@media (min-width: 992px) {
  .module>.container, .footer>.container {
    max-width: 960px;
  }
}