* {
  padding: 0;
  margin: 0;
}

:focus {
  outline: none;
}
:visited{
  color: rgba(0,0,0,0.5);
}

html {
  line-height: 1.15;
}

body {
  background-color: white;
  color: #888;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

body.zh {
  font-family: 'Noto Sans SC', sans-serif;
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

.module{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  flex-wrap: nowrap;
}
.module>.container{
  position: relative;
  width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: left;
  justify-content: flex-start;
  align-content: stretch;
  padding-bottom: 1.25rem;
}

@media (min-width: 576px) {
  .module>.container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .module>.container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .module>.container {
      max-width: 960px;
  }
}