extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/specialNotices/covid.css')

block content
    div.module
        div.container
            div.covid-container(style="display: block; padding-bottom:25px;")
                section(style="border: 0")
                    h2 COVID-19 Notice
                    div.sub-title
                        div
                            a(href="#safety-plan") CCST Vancouver – COVID-19 Safety Plan
                        div
                            a(href="#robust-case-management") CCST Vancouver’s Plan for robust case management
                        div
                            a(href="#international-students") COVID-19 Safety Plan for International Students

                section#safety-plan
                    h3 CCST Vancouver – COVID-19 Safety Plan
                    ul
                        li.pb-15
                            div Daily Operation
                            div We would like to ask the community of CCST Vancouver to help us create a safe and healthy environment for each other by following this COVID-19 Safety Plan.
                            ul
                                li
                                    div Ensure that anyone showing symptoms of COVID-19 are prohibited from entering CCST Vancouver.
                                    ul
                                        li Anyone who has had symptoms of COVID-19 in the last 14 days.  Symptoms include fever, chills, new or worsening cough, shortness of breath, sore throat, and new muscle aches or headache.
                                        li Anyone under the direction of public health to self-isolate must follow those instructions as well.
                                        li Anyone who has arrived from outside of Canada or who has contacted with a confirmed COVID-19 case must self-isolate for 14 days and monitor for symptoms.
                                li Students and visitors should sign in every time when arriving campus.  The administrator keeps the sign in record till the end of the Pandemic.
                                li Students and visitors should wear a face cover in the campus premises. Masks are provided for those who do not have their own.
                                li Follow the signage of occupancy limits in all common areas.
                                li Maintain a distance of 2 metres (6 feet) with one another between staff, students and others wherever possible.
                                li 
                                    div Ensure handwashing is an important part of maintaining a healthy environment.
                                    div Please wash your hands: 
                                    ul
                                        li When arriving at the campus
                                        li Before and after going for a break (especially if using common break rooms)
                                        li Periodically throughout the day, especially if interfacing with people
                                        li After handling delivery documents, packages, boxes and bags
                                        li As you leave the school building
                                li 
                                    div Look for alternative communications
                                    ul
                                        li Whenever possible, choose to communicate by phone, email, etc.  
                                        li Consider work from home arrangements.
                                        li Avoid meetings or gatherings where physical distance cannot be maintained. Consider using larger rooms, moving meetings to larger areas, or having all or some attendees attend virtually.
                                        li Where possible, cancel in-person meetings and hold meetings by teleconference, video conference, or email instead.
                                li 
                                    div Limit outside visitors 
                                    ul
                                        li meet visitors by appointment 
                                        li keep record of all visitors
                                        li avoid offering food and beverages 
                                        li a no touch thermometer is available by the side of the font door for check in 
                                li 
                                    div If someone begins to feel ill while at campus and display possible COVID-19 symptoms: 
                                    ul
                                        li Report to any staff that you are concerned about the spread of COVID-19 in the workplace and you believe that an individual is displaying symptoms.
                                        li The administrator should quickly isolate the individual; briefly ask who they have been working closely with, in which areas of the workplace and with which equipment; then send them home immediately. The administrator will then send any identified close contacts home and clean and disinfect areas where the individual was working and any equipment or tools used.
                                
                                li Any worker who exhibits possible symptoms of COVID-19 and has sent home will need to follow the self-isolation guidance contained within the online BC COVID-19 Symptom Self-Assessment Tool.  https://bc.thrive.health/covid19/en

                                li 
                                    div Ensure disinfection is an important part of maintaining a safe environment.  The administrative team disinfects the common areas: 
                                    ul
                                        li Before and after someone using an area
                                        li Periodically throughout the day, especially during the “open to the public” hours
                                        li At the end of the day
                                        li Shared tools and equipment are limited
                                
                                li Limit ”Work at the Office Days” from Tuesday to Thursday.

                                li All full time staffs are briefed with all CCST Vancouver COVID-19 Safety Plan documents.  A copy is all documents will be available in the library as well. 
                        
                        li.pb-15    
                            div Class Arrangement
                            ul 
                                li Most of the courses are using online format.
                                li 
                                    div When necessary, llimited courses are using classroom format, and they have to follow:
                                    ul
                                        li All policies in Part A.
                                        li Teachers and students need to plan ahead with the office.
                        
                        li.pb-15
                            div Library
                            ul
                                li There is limited occupancy for the CCST Vancouver Library.  The library staff and all other staff are obligated to implement measures to restrict the number of people in the library at one time.
                                li Encourage teachers and students to made appointment to use the library resources to reduce the number of people in the library.
                                li 
                                    div Reconfigure interiors and design public areas to maintain the physical distancing requirement for workers and visitors. 
                                    ul
                                        li Removing chairs and tables
                                li Manage the flow of people by implementing one-way walkways or marking off designated walking areas.
                                li Provide hand sanitizing stations at all facility entryways for everyone to use.
                                li A barrier is set in the check out area. 
                                li Post COVID-19 protocols using throughout the library.
                        
                        li.pb-15
                            div Resources 
                            ul
                                li(style="overflow: hidden")
                                    span COVID-19 Go-Forward Guidelines for B.C.’s Post-Secondary Sector (
                                    a(href="https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf?bcgovtm=20200506_GCPE_AM_COVID_9_NOTIFICATION_BCGOV_BCGOV_EN_BC__NOTIFICATION" target="_blank") https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf?bcgovtm=20200506_GCPE_AM_COVID_9_NOTIFICATION_BCGOV_BCGOV_EN_BC__NOTIFICATION
                                    span )
                                li(style="overflow: hidden")
                                    span BC COVID-19 self-assessment tool (
                                    a(href="https://bc.thrive.health/covid19/en" target="_blank") https://bc.thrive.health/covid19/en
                                    span )
                                li(style="overflow: hidden")
                                    span COVID-19 Testing: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/testing" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/testing
                                li(style="overflow: hidden")
                                    span Understand contact tracing: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing
                                li(style="overflow: hidden")
                                    span COVID-19 Care: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/about-covid-19/if-you-are-sick" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/about-covid-19/if-you-are-sick
                                li(style="overflow: hidden")
                                    span COVID-19 FACTS: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/data" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/data


                section#robust-case-management
                    h3 CCST Vancouver’s Plan for robust case management
                    ul
                        li.pb-15 
                            div COVID-19 SYMPTOMS 
                            div The symptoms of COVID-19 are similar to other respiratory illnesses including flu and common cold. They include:  
                            ul
                                li Fever 
                                li Chills 
                                li Cough 
                                li Shortness of breath 
                                li Sore throat 
                                li Stuffy or runny nose 
                                li Loss of sense of smell 
                                li Headache 
                                li Muscle aches 
                                li Fatigue 
                                li Loss of appetite 
                            div Symptoms can range from mild to severe. Most people with COVID-19 have mild illnesses, but symptoms can sometimes suddenly worsen in a few days. People infected with COVID-19 can also experience gastrointestinal symptoms such as diarrhea, nausea and vomiting a few days after the onset of the above symptoms. 

                        li.pb-15 
                            div If a staff or student is tested positive to COVID-19
                            ul
                                li The staff or student should follow all the instructions from his/her health provider or healthy authority for the next step.
                                li Most likely, the person who is sick will be asked to self-isolate at home for a minimum of 10 days from when the symptoms started. 
                                li Public health will start contact tracing. This means calling people who have been close to for a long enough time (at least 15 minutes).  CCST Vancouver will follow any necessary procedure to assist this process.
                                li Only those who are considered “close contacts” will be asked by public health officials to self-isolate and monitor for COVID-19 symptoms for 14 days. 

                        li.pb-15 
                            div A staff or student shows symptoms of COVID-19
                            div IF FACULTY, STAFF OR STUDENTS DEVELOP SYMPTOMS WHILE AT THE INSTITUTION: 
                            ul.pb-15
                                li Separate the symptomatic individual from others in a supervised area and direct the symptomatic individual to return to his/her place of residence. Arrangement for transportation should be coordinated if required. 
                                li If symptoms persist, the individual should be instructed to contact 8-1-1 or his/her local healthcare provider for further direction. 
                                li Staff responsible for facility cleaning must clean and disinfect the space where the individual is separated and any areas that have been used by them (e.g., classroom, bathroom, common areas).
                            div IF FACULTY, STAFF OR STUDENTS DEVELOP SYMPTOMS AT HOME:
                            ul 
                                li Isolation at home and monitor the symptoms for 14 days.
                                li If the symptoms persist, the individual should be instructed to contact 8-1-1 or his/her local healthcare provider for further direction.  
                        
                        li.pb-15 
                            div A staff or student is potentially exposed to COVID-19
                            div A staff or student can monitor himself/ herself for COVID-19 symptoms daily using the BC COVID-19 Health Assessment Tool.

                        li.pb-15 
                            div A staff or student is recovered from COVID-19
                            div 
                                span Promote a reliable and accurate message about COVID-19 via BC Center for Disease Control 
                                a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19
                                span  and minimize Social Stigma associated with COVID-19.
                            div Protect the confidentiality of each staff and student during and after his/her sickness. 
                        
                        li.pb-15 
                            div Number to Call when a staff or student with any question or concern.
                            div WorkSafeBC’s Prevention Information Line (604-276-3100)
                            div Non-medical information about COVID-19 (1-888-268-4319)
                            div 
                                span Some of the above information is copied from the Guidance for post-secondary institutions during the COVID-19 Pandemic booklet. 
                                a(href="https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf" target="_blank") https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf

                section#international-students
                    h3 COVID-19 Safety Plan for International Students
                    ul
                        li.pb-15
                            div Overall Communication
                            ul
                                li The general COVID-19 safety plan is put on the website for all students and applicants for reference.
                                li Public links from the health authorities regarding the updated changes in B.C. are put on the website under the Covid-19 Safety Plan.
                        li.pb-15
                            div Pre-Arrival Communication
                            ul
                                li 
                                    div Together with the admission notice, CCST Vancouver will send a special document titled “Study in Canada During Pandemic” to all admitted international students.  In the document, it includes:
                                    ul
                                        li Ask the students to share the content with their co-arriving family members.
                                        li Encourage the students to download Government of Canada’s ArriveCAN application prior to arrival at the border and complete the information required.
                                        li 
                                            span The mandatory 14-day quarantine and all quarantine requirements. 
                                            a(href="https://orders-in-council.canada.ca/attachment.php?attach=39613&lang=en" target="_blank") https://orders-in-council.canada.ca/attachment.php?attach=39613&lang=en
                                        li Instruction for them to get ready the BC COVID-19 Self-Assessment Tool in their devices.
                                li Pre-arrange a volunteer to pick up the arriving students and their co-arriving family members to the quarantine location.  Inform the volunteer about all the necessary safety procedure, i.e. wear a mask, disinfect the car before and after, keep a social distant whenever possible.
                                li Have the quarantine location inspected prior the arrival of the students.
                            
                        li.pb-15
                            div 14-day Quarantine Requirements
                            ul
                                li Ask the students and the co-arriving family members to do daily self check by using BC COVID-19 Self-Assessment Tool.
                                li Fill in the ArriveCAN application within 48 hours of arriving if not yet done before.
                                li Communicate daily and confirm with the students and their family members are symptom free.
                                li Communicate daily and confirm with the students that their basic needs are met, i.e. food supplies and medical care.
                            
                        li.pb-15
                            div Post-quarantine Requirements
                            ul
                                li The CARE Committee of CCST Vancouver will continue to support international students and immediate family members after completion of their 14-day quarantine period.
                                li The CATE Committee of CCST Vancouver will connect the individuals to the Student councils and the staff team, and provide all local resources through the International Student Resources Handbook.
                        
                        li.pb-15
                            div The Quarantine Act
                            div 
                                span As of March 25, 2020 it is mandatory, under the Quarantine Act (
                                a(href="https://www.canada.ca/en/public-health/news/2020/03/new-order-makes-self-isolation-mandatory-for-individuals-entering-canada.html" target="_blank") https://www.canada.ca/en/public-health/news/2020/03/new-order-makes-self-isolation-mandatory-for-individuals-entering-canada.html
                                span ) that anyone arriving in British Columbia from outside of Canada to self-isolate and monitor for symptoms for 14 days upon their arrival and complete the federal ArriveCAN application (
                                a(href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/self-isolation-on-return" target="_blank") https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/self-isolation-on-return
                                span ). Learn more about self-isolation at our dedicated page (
                                a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation
                                span ).



