extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/specialNotices/covid.css')

block content
    div.module
        div.container
            div.covid-container(style="display: block; padding-bottom:25px;")
                section(style="border: 0")
                    h2 COVID-19 Notice
                    div.sub-title
                        div
                            a(href="#safety-plan") CCST Vancouver – COVID-19 Safety Plan
                        div
                            a(href="#robust-case-management") CCST Vancouver’s Plan for robust case management
                        div
                            a(href="#international-students") COVID-19 Safety Plan for International Students

                section#safety-plan
                    h3 CCST Vancouver – COVID-19 Safety Plan
                    div In compliance with the orders or guidance issued by the Provincial Health Officer and the COVID-19 Go-Forward Guidelines produced by B.C. Post-Secondary Institutions with the support of the Ministry of Advanced Education, Skills and Training, we have prepared the COVID-19 Safety Plan at CCST Vancouver. We would like to provide a safe and healthy environment for the community of CCST Vancouver. 
                    ul
                        li.pb-15
                            div Daily Operation
                            ul
                                li(style='list-style:decimal')
                                    div Ensure that anyone showing symptoms of COVID-19 is prohibited from entering CCST Vancouver.
                                    ul
                                        li(style='list-style:disc') Anyone who has symptoms of COVID-19 in the last 14 days.  Symptoms include fever, chills, new or worsening cough, shortness of breath, sore throat, and new muscle aches or headache.
                                        li(style='list-style:disc') Anyone under the direction of public health to self-isolate must follow those instructions as well.
                                        li(style='list-style:disc') Anyone who has arrived from outside of Canada or who has contacted with a confirmed COVID-19 case must self-isolate for 14 days and monitor for symptoms.
                                li(style='list-style:decimal') Staffs, students and visitors should sign in every time when arriving campus.  The administrator keeps the sign in record till the end of the Pandemic.
                                li(style='list-style:decimal') Staffs, students and visitors should check their temperature at the entrance of the building.  All people with a 37C temperature will be prohibited on the campus.
                                li(style='list-style:decimal') Students and visitors should wear a mask in the campus premises. Masks are provided for those who do not have their own.
                                li(style='list-style:decimal') Follow the signage of occupancy limits in all common areas.
                                li(style='list-style:decimal') Maintain a distance of 2 meters (6 feet) with one another between staff, students and others wherever possible.
                                li(style='list-style:decimal') 
                                    div Ensure handwashing is an important part of maintaining a healthy environment.
                                    div Please wash your hands: 
                                    ul
                                        li(style='list-style:disc') When arriving at the campus
                                        li(style='list-style:disc') Before and after going for a break (especially if using common break rooms)
                                        li(style='list-style:disc') Periodically throughout the day, especially if interfacing with people
                                        li(style='list-style:disc') After handling delivery documents, packages, boxes and bags
                                        li(style='list-style:disc') As you leave the school building
                                li(style='list-style:decimal') 
                                    div Look for alternative communications
                                    ul
                                        li(style='list-style:disc') Whenever possible, choose to communicate by phone, email, etc.  
                                        li(style='list-style:disc') Consider work from home arrangements.
                                        li(style='list-style:disc') Avoid meetings or gatherings where physical distance cannot be maintained. Consider using larger rooms, moving meetings to larger areas, or having all or some attendees attend virtually.
                                        li(style='list-style:disc') Where possible, cancel in-person meetings and hold meetings by teleconference, video conference, or email instead.
                                li(style='list-style:decimal') 
                                    div During the pandemic, we should limit visitors outside the CCST Vancouver Community  
                                    ul
                                        li(style='list-style:disc') meet visitors by appointment 
                                        li(style='list-style:disc') keep record of all visitors
                                        li(style='list-style:disc') avoid offering food and beverages 
                                        li(style='list-style:disc') a no-touch thermometer is available by the side of the front door for check in  
                                li(style='list-style:decimal') 
                                    div If someone begins to feel ill while at campus and display possible COVID-19 symptoms:
                                    ul
                                        li(style='list-style:disc') Report to any administrator that you are concerned about the spread of COVID-19 in the workplace and you believe that an individual is displaying symptoms.
                                        li(style='list-style:disc') The administrator should quickly isolate the individual; briefly ask who they have been working closely with, in which areas of the workplace and with which equipment; then send them home immediately. The administrator will then send any identified close contacts home. The administrator should clean and disinfect areas where the individual was working and any equipment or tools used.                                
                                        li(style='list-style:disc') 
                                            span Any worker who exhibits possible symptoms of COVID-19 and has sent home will need to follow the self-isolation guidance contained within the online BC COVID-19 Symptom Self-Assessment Tool.  
                                            a(href='https://bc.thrive.health/covid19/en' target='_blank') https://bc.thrive.health/covid19/en
                                li(style='list-style:decimal')
                                    span Any worker who exhibits possible symptoms of COVID-19 and has sent home will need to follow the self-isolation guidance contained within the online BC COVID-19 Symptom Self-Assessment Tool.  
                                    a(href="https://bc.thrive.health/covid19/en" target="_blank") https://bc.thrive.health/covid19/en

                                li(style='list-style:decimal') 
                                    div Ensure disinfection is an important part of maintaining a safe environment.  The administrative team disinfects the common areas: 
                                    ul
                                        li Before and after someone using an area
                                        li Periodically throughout the day, especially during the “open to the public” hours
                                        li At the end of the day
                                        li Shared tools and equipment are limited
                                        li 
                                            span Cleaning and disinfect procedures should be done according to this link 
                                            a(href='http://www.bccdc.ca/Health-Info-Site/Documents/CleaningDisinfecting_PublicSettings.pdf' target="_blank") http://www.bccdc.ca/Health-Info-Site/Documents/CleaningDisinfecting_PublicSettings.pdf
                                
                                li(style='list-style:decimal') Limit ”Work at the Office Days” from Tuesday to Thursday ONLY.

                                li(style='list-style:decimal') All full-time staff are briefed with all CCST Vancouver COVID-19 Safety Plan documents.  A copy of the CCST Vancouver COVID-19 Plan is available in the library as well.
                        
                        li.pb-15    
                            div Class Arrangement
                            ul 
                                li We change our teaching format in order to accommodate the B.C. Post-Secondary COVID-19 Go-Forward Guideline, which include using online teaching format whenever possible.  And we stop all on-site teaching or blended class since the new restrictions announced on November 25, 2020.  We will keep using the online format till the end of the pandemic.
                        
                        li.pb-15
                            div Library
                            ul
                                li(style='list-style:decimal') There is limited occupancy for the CCST Vancouver Library.  The library staff and all other staff are responsible to implement measures to restrict the number of people in the library at one time.
                                li(style='list-style:decimal') Encourage teachers and students to make appointment to use the library resources in order to restrict the number of people in the library.
                                li(style='list-style:decimal') Reconfigure interiors and design public areas to maintain the physical distancing requirement for staff and visitors. 
                                li(style='list-style:decimal') Removing chairs and tables
                                li(style='list-style:decimal') Manage the flow of people by implementing one-way walkways 
                                li(style='list-style:decimal') Provide hand sanitizing stations at all facility entryways for everyone to use.
                                li(style='list-style:decimal') A barrier is set in the checkout area. 
                                li(style='list-style:decimal') Post COVID-19 protocols throughout the library.
                        
                        li.pb-15
                            div Cleaning Protocols
                            div The administrators should ensure disinfection is an important part of maintaining a safe environment. 
                            ul
                                li(style='list-style:decimal') 
                                    span Cleaning and disinfect procedures should be done according to this link 
                                    a(href="http://www.bccdc.ca/Health-Info-Site/Documents/CleaningDisinfecting_PublicSettings.pdf" target="_blank") http://www.bccdc.ca/Health-Info-Site/Documents/CleaningDisinfecting_PublicSettings.pdf
                                li(style='list-style:decimal') Make sure we have enough handwashing facilities on site for all our staff and students. Handwashing locations are easily accessed.  Extra hand sanitizers are put in the entrance, in the entrance of the library and in the entrance of the 2nd floor. 
                                li(style='list-style:decimal') Staff must wash their hands regularly throughout the day and practice good hygiene all time. 
                                li(style='list-style:decimal') The administrators who are cleaning and disinfecting have adequate training and materials to do so.
                                li(style='list-style:decimal') Make sure all unnecessary tools and equipment are removed — e.g., coffee makers and shared utensils and plates.
                                li(style='list-style:decimal') The administrative team disinfects the all identified common areas and shared tools including washrooms, tools, equipment, shared tables, desks, light switches, and door handles:
                                ul
                                    li.ml-15(style='list-style:lower-roman') Before and at the end of a “work at the office day”.
                                    li.ml-15(style='list-style:lower-roman') Before and after someone is using an area, i.e. onsite class.
                                    li.ml-15(style='list-style:lower-roman') Periodically throughout the day, especially during the “open to the public” hours
                                    li.ml-15(style='list-style:lower-roman') At the end of the day 
                                li(style='list-style:decimal') Staff are asked to wipe the tables after where they finished their meals.

                        li.pb-15(style="overflow: hidden")
                            div Resources 
                            ul
                                li(style='list-style:decimal')
                                    span COVID-19 Go-Forward Guidelines for B.C.’s Post-Secondary Sector (
                                    a(href="https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf?bcgovtm=20200506_GCPE_AM_COVID_9_NOTIFICATION_BCGOV_BCGOV_EN_BC__NOTIFICATION" target="_blank") https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf?bcgovtm=20200506_GCPE_AM_COVID_9_NOTIFICATION_BCGOV_BCGOV_EN_BC__NOTIFICATION
                                    span )
                                li(style='list-style:decimal')
                                    span BC COVID-19 self-assessment tool (
                                    a(href="https://bc.thrive.health/covid19/en" target="_blank") https://bc.thrive.health/covid19/en
                                    span )
                                li(style='list-style:decimal')
                                    span COVID-19 Testing: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/testing" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/testing
                                li(style='list-style:decimal')
                                    span Understand contact tracing: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing
                                li(style='list-style:decimal')
                                    span COVID-19 Care: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/about-covid-19/if-you-are-sick" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/about-covid-19/if-you-are-sick
                                li(style='list-style:decimal')
                                    span COVID-19 FACTS: 
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/data" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/data

                        li.pb-15
                            div 
                                span URL Link of this CCST Vancouver COVID-19 Safety Plan on CCST Vancouver Website: 
                                a(href='http://ccstvan.ca/special-notices/covid' target='_blank') http://ccstvan.ca/special-notices/covid
                        
                        li.pb-15
                            div Reference
                            div
                                a(href='https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf' target='_blank') https://www2.gov.bc.ca/assets/gov/education/post-secondary-education/institution-resources-administration/aest_postsecgoforwardguidelines.pdf


                section#robust-case-management
                    h3 CCST Vancouver’s Plan for robust case management
                    div All staff and students are required to contact the CCST Vancouver office if they are tested positive to COVID-19 or develop symptoms during a school term, although most of our courses and activities are hosted online.
                    div The administrative team commits to collaborate, share information, and review emergency plans with their local PHO whenever necessary.  
                    ul
                        li.pb-15
                            div Immediate Communication with the PHO and the CCST Community 
                            div If a staff or student is tested positive to COVID-19

                        li.pb-15
                            div The administrator will contact the health authority as soon as possible to report a confirmed case in the CCST Vancouver community.
                            ul.pb-15
                                li The administrator will contact the CCST Vancouver community.
                                li The person who is sick will be asked to self-isolate at home for 14 days and follow the quarantine and isolation policies.
                                li The administrator will ask all staff and students to be prepared for the following up steps taken by the PHO.  
                                li The Registrar Office will assist the contact tracing process using our school data base system.
                                li We understand that only those who are considered “close contacts” will be asked by public health officials to self-isolate and monitor for COVID-19 symptoms for 14 days. But we will send a general communication to the community of CCST Vancouver to bring the exposure to their attention.
                                li The administrator will follow the guideline provided by the PHO to disinfect the campus.  We will arrange professional team to do so when necessary
                                li The administrator will assign a staff to contact the person who is sick every day during the quarantine period and make sure his/her medical and daily needs are taken care of. 

                        li.pb-15
                            div Involve a Response Team 
                            div The administrative team is the response team for any outbreak or other significant COVID-19-related event. Following are their responsibilities:
                            ul
                                li Support contact tracing efforts by exploring options for students/faculty/staff to track their activities/contact/movement (e.g., contact tracing apps)
                                li Provide updated COVID-19 information for people who are isolating.
                                li Connect people who are isolating with the Dean of Students to take care of their emotional and spiritual needs.
                                li Develop policy encouraging flexibility for personal circumstances, including flexible attendance and sick-leave policies.
                                li 
                                    span Ensure that students/faculty/staff are aware of financial and other support programs available to those with financial instability related to COVID-19.&nbsp;
                                    a(href='https://www.canada.ca/en/department-finance/economic-response-plan.html' target='_blank') https://www.canada.ca/en/department-finance/economic-response-plan.html

                        li.pb-15
                            div Monitoring, screening and testing for COVID-19 
                            ul
                                li During the pandemic, the CCST Vancouver Community is encouraged to monitor their health daily for symptoms of COVID-19 and get tested if they develop symptoms compatible with COVID-19.
                                li 
                                    span Students are encouraged to monitor their own health and self-isolate themselves if experiencing illness. They can do it via the self-assessment tool.&nbsp;
                                    a(href="https://bc.thrive.health/ " target="_blank") https://bc.thrive.health/ 
                                li 
                                    span In case students/faculty/staff needed to be connected with the testing facilities, they can find a collection center near them from the link below.&nbsp;
                                    a(href="https://experience.arcgis.com/experience/3862560c5a41418e9d78f4f81688e9d0 " target="_blank") https://experience.arcgis.com/experience/3862560c5a41418e9d78f4f81688e9d0 

                        li.pb-15
                            div Case management of a student/faculty or staff member in the event of an outbreak
                            div Scenario 1: If a staff or student is tested positive to COVID-19
                            ul
                                li The administrator will contact the health authority as soon as possible to report a confirmed case in the CCST Vancouver community.
                                li The administrator will contact the CCST Vancouver community and communicate with them.
                                li The whole community must self-isolate at home whether one has symptoms or not, or as directed by the local public health authority.
                                li The whole community must self-isolate at home whether one has symptoms or not, or as directed by the local public health authority.
                                li The administrator will ask all staff and students to be prepared for the following up steps taken by the PHO.  The community of CCST Vancouver should do their best to assist the procedure of the contact tracing. 
                                li We understand that only those who are considered “close contacts” will be asked by public health officials to self-isolate and monitor for COVID-19 symptoms for 14 days. But we will send a general communication to the community of CCST Vancouver to bring the outbreak to their attention.
                                li The administrator will follow the guideline provided by the PHO to disinfect the campus.  We will arrange professional team to do so when necessary.

                            div(style="padding-top:15px") Scenario 2: If a staff or student shows symptoms of COVID-19
                            div If a faculty, staff or student develop symptoms while at the institution, we will follow the following protocols:
                            ul
                                li Separate the symptomatic individual from others in a supervised area and direct the symptomatic individual to return to his/her place of residence. Arrangement for transportation should be coordinated if required. 
                                li If symptoms persist, the individual should be instructed to contact 8-1-1 or his/her local healthcare provider for further direction. 
                                li Staff responsible for facility cleaning must clean and disinfect the space where the individual is separated and any areas that have been used by them (e.g., classroom, bathroom, common areas) immediately.
                                li The administrator will contact the PHO to report the incident and seek for further instruction.
                                li The administrator will follow the guideline provided by the PHO to disinfect the campus.  We will arrange professional team to do so when necessary.

                            div(style="padding-top:15px") Scenario 3: If faculty, staff or students develop symptoms at home or potentially exposed to COVID-19
                            ul
                                li The person will be asked to self-isolate at home and monitor the symptoms for 14 days.
                                li If the person develops during the isolation, he/she must restart the isolation time directed by the local public health authority.
                                li If the symptoms persist, the individual should be instructed to contact 8-1-1 or his/her local healthcare provider for further direction.  
                                li If the person is tested positive to COVID-19, we will follow the procedure in scenario 1.

                            div(style="padding-top:15px") Scenario 4: A staff or student is recovered from COVID-19
                            ul
                                li 
                                    div We promote a reliable and accurate message about COVID-19 to the community of the CCST Vancouver during the pandemic.
                                    div 
                                        span Reference: BC Center for Disease Control&nbsp;
                                        a(href="http://www.bccdc.ca/health-info/diseases-conditions/COVID-19" target="_target") http://www.bccdc.ca/health-info/diseases-conditions/COVID-19 
                                        span &nbsp;and minimize social stigma associated with COVID-19.
                                li The staff team will communicate with the community of the CCST Vancouver and request every one of us to protect the confidentiality of each staff and student during and after one’s sickness. We will use our email communication and online chapel time speaking out against negative behaviors toward those who may experience stigma. 
                        
                        li.pb-15
                            div Contact tracing
                            ul
                                li The Registrar Office will assist the contact tracing process via our school system. 
                                li The Administration Office will provide the daily sign-in sheet to determine the possible close contact of a sick person.
                                li When necessary, the administrative team will provide the record in the on-campus video cameras to determine who the possible close contact of a sick person is.
                                li 
                                    span The administrative team should understand the contact tracing procedure.&nbsp;
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation/contact-tracing

                        li.pb-15
                            div Quarantine and isolation policies
                            ul
                                li The following people must follow the quarantine and isolation policies: a student/faculty or staff member are positive in a COVID-19 test, a student/faculty or staff member who has travelled oversea in the past 14 days, and a student/faculty or staff member who are instructed by the providential health officer. 
                                li 
                                    div During the quarantine, an individual must follow the instructions from the BCCDC’s DOs and Don’ts of self-isolation.
                                    div
                                        a(href="http://www.bccdc.ca/Health-Info-Site/Documents/Self-isolation_dos_donts.pdf" target="_blank") http://www.bccdc.ca/Health-Info-Site/Documents/Self-isolation_dos_donts.pdf


                                                    
                        

                section#international-students
                    h3 COVID-19 Safety Plan for International Students
                    ul
                        li.pb-15
                            div Overall Communication
                            ul
                                li The general COVID-19 safety plan is put on the website for all students and applicants for reference.
                                li Public links from the health authorities regarding the updated changes in B.C. are put on the website under the COVID-19 Safety Plan.  International students should check regularly prior to their departure.
                                li 
                                    div International students should read carefully about studying in Canada during pandemic
                                    div
                                        a(href="https://www.canada.ca/en/immigration-refugees-citizenship/services/coronavirus-covid19/students.html" target="_blank") https://www.canada.ca/en/immigration-refugees-citizenship/services/coronavirus-covid19/students.html 
                                li 
                                    span All international students should understand the Quarantine Act. As of March 25, 2020 it is mandatory, under the Quarantine Act (
                                    a(href="https://www.canada.ca/en/public-health/news/2020/03/new-order-makes-self-isolation-mandatory-for-individuals-entering-canada.html" target="_blank") https://www.canada.ca/en/public-health/news/2020/03/new-order-makes-self-isolation-mandatory-for-individuals-entering-canada.html
                                    span ) that anyone arriving in British Columbia from outside of Canada to self-isolate and monitor for symptoms for 14 days upon their arrival and complete the federal ArriveCAN application (
                                    a(href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/self-isolation-on-return" target="_blank") https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support/self-isolation-on-return
                                    span ). Learn more about self-isolation at this dedicated page (
                                    a(href="http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation" target="_blank") http://www.bccdc.ca/health-info/diseases-conditions/covid-19/self-isolation
                                    span ).

                        li.pb-15
                            div Pre-Arrival Communication – Study in Canada during Pandemic
                            ul
                                li 
                                    span All international students must share the content with their co-arriving family members regarding the COVID-19 situation in Canada&nbsp;
                                    a(href="http://www.covid-19canada.com/" target="_blank") http://www.covid-19canada.com/ 
                                    span &nbsp;and the COVID-19 Safety Plan at CCST Vancouver.
                                li All international students are required to download Government of Canada’s ArriveCAN application prior to arrival at the border and complete the information required.
                                li 
                                    span All international students must understand the mandatory 14-day quarantine and all quarantine requirements.&nbsp;
                                    a(href="https://orders-in-council.canada.ca/attachment.php?attach=39613&lang=en" target="_blank") https://orders-in-council.canada.ca/attachment.php?attach=39613&lang=en
                                li 
                                    span All international students must get ready the BC COVID-19 Self-Assessment Tool in their devices&nbsp;
                                    a(href="https://bc.thrive.health/covid19/en" target="_blank") https://bc.thrive.health/covid19/en
                                li All international students should arrange to arrive the quarantine location NOT by public transit.  CCST Vancouver will pre-arrange a volunteer to pick up the arriving students and their co-arriving family members to the quarantine location when necessary. All volunteers will be briefed about all the necessary safety procedure, i.e. wear a mask, disinfect the car before and after, keep a physical distancing whenever possible.
                                li 
                                    div Either the students choose to quarantine in a serviced hotel or a private home, the quarantine location should NOT be:
                                    ul
                                        li(style='list-style:lower-roman') a group or communal living setting, including camps or students dorms unless the location is pre-authorized;
                                        li(style='list-style:lower-roman') a household with a large family or many people
                                        li(style='list-style:lower-roman') a shared small apartment or similar setting
                                li CCST Vancouver will do our best to assist the international students to prepare the quarantine location prior the arrival of them.
                            
                        li.pb-15
                            div 14-day Quarantine Requirements
                            ul
                                li CCST Vancouver will ask the international students and the co-arriving family members to do daily self-check by using BC COVID-19 Self-Assessment Tool.
                                li International students must register with the ArriveCAN to submit their travel and contact information, quarantine plan and the COVID-19 symptom self-assessments before they board their flight to Canada.  And they must access the apps daily during the 14-day quarantine period or as instructed by the PHO.
                                li Our staff will communicate and confirm with the international students and their family members and make sure they are symptom free.  If any symptom develops during the quarantine period, we will follow the procedure in the CCST Vancouver’s Plan for robust case management.
                                li We will assign a staff to call and communicate with the student who is in a quarantine situation.  We will make sure the student’s daily needs are met either by providing supplies to them directly or provide information for the student to reach other local contactless grocery services or medical services.  
                                li Our Dean of Students will be in touch regularly with the international students who are in a quarantine situation and offer spiritual and emotional support. 
                                li CCST Vancouver takes the violations of the Quarantine Act seriously.  Specific information will be gathered and recorded and report to local authorities as soon as we find out a noncompliance situation.  
                            
                        li.pb-15
                            div Post-quarantine Requirements
                            ul
                                li The CCST Vancouver Community will continue to support international students and immediate family members after completion of their 14-day quarantine period.
                                li The CCST Vancouver office will connect the individuals to the Student councils and the staff team, and provide all local resources through the International Student Guide.




