section h1{
    background-position: right;
    background-repeat: no-repeat;
    background-color: #709dc7;
}

section.dmin h1{
    background-image: url('../../images/dmin.png');
}

section.mts h1{
    background-image: url('../../images/mts.png');
}
section.other h1{
    background-image: url('../../images/courseOthers.png');
    background-size: cover;
}
section.practicum h1{
    background-image: url('../../images/coursePracticum.png');
    background-size: cover;
}
section h1 span{
    margin-right: 200px;
}



.course{
    position: relative;
}
.course > .header{
    display: flex;
    justify-content: space-between;
    background-color: #ccc;
    padding: 0.5em;
}
.course > .desc{
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
}
.course > .header > .code{
    width: 100px;
}
.course > .header > .name{
    flex-basis: 100%;
}
.course > .header > .point{
    width: 100px;
    text-align: right;
}

.course-group{
    font-size: 1.5rem;
    margin: 1rem 15px 0 15px !important;
    background-color: #333;
    color: white;
    padding: 5px;
}
.course-group + .course{
    margin-top: 0;
}