section {
    background-color: #eee;
    border:none;
    padding-bottom: 1px;
}

section h1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.instructor1 h1,
section.special_instructor h1{
    background-image: url('../../images/books.png');
}

section.instructor2 h1{
    background-image: url('../../images/instructor.png');
}

section.instructor3 .h1{
    background-image: url('../../images/instructor2.png');
}

section.instructor4 .h1{
    background-image: url('../../images/instructor3.png');
}