section {
    background-color: #eee;
    border:none;
    padding-bottom: 1px;
}

section h1{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.emeritus h1,
section.instructors2 h1{
    background-image: url('../../images/books.png');
}

section.professor h1{
    background-image: url('../../images/instructor.png');
}

section.associate h1{
    background-image: url('../../images/instructor2.png');
}

section.assistant h1{
    background-image: url('../../images/instructor3.png');
}

section.instructors2 > div > div{
    margin-bottom: 2rem;
}