section > h1{
    background-image: url('../../images/ccstvanclass.png');
}

.title-paragraph{
    border-bottom: 1px gray dotted;
}
.title-paragraph > h1{
    text-align: center;
}

.links-container{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px gray dotted;
}
.links-container a{
    display: block;
    font-size: 0.85rem;
    color: #555;
    margin-bottom: 3px;
}

th,
td{
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    padding: 5px;
}
table{
    border-spacing: 0;
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}

th.date{
    width: 85px;
}
th.professor{
    width: 125px;
}
.en th.professor{
    width: 125px;
}

h1.schedule_header div:not(:first-child){
    font-size: 1rem;
    font-weight: normal;
}
h1.schedule_header div:last-child{
    font-size: 0.85rem;
}

div.schedule_container{
    margin-bottom: 25px;
}
div.schedule_container > div{
    display: flex;
}
div.schedule_container > div > div:first-child{
    flex-basis: 100px;
    min-width: 100px;
    margin-right: 25px;
    text-align: right;
}