extends index
include course

block academic-content
    div.container.section.programs
        div.header 
            div.title #{__('course_desc')}
        ul.desc-container
            li.program-container
                div.program #{__('course1')}
                ul.courses
                    +course('course1_1_code', 'course1_1_name','course1_1_detail','')
                    +course('course1_2_code', 'course1_2_name','course1_2_detail','')
                    +course('course1_3_code', 'course1_3_name','course1_3_detail','')
                    +course('course1_4_code', 'course1_4_name','course1_4_detail','')
                    +course('course1_5_code', 'course1_5_name','course1_5_detail','')
                    +course('course1_6_code', 'course1_6_name','course1_6_detail','')
                    +course('course1_7_code', 'course1_7_name','course1_7_detail','')
                    +course('course1_8_code', 'course1_8_name','course1_8_detail','')
                    +course('course1_9_code', 'course1_9_name','course1_9_detail','')
                    +course('course1_10_code', 'course1_10_name','course1_10_detail','')
                    +course('course1_11_code', 'course1_11_name','course1_11_detail','')
                    +course('course1_12_code', 'course1_12_name','course1_12_detail','')
                    +course('course1_13_code', 'course1_13_name','course1_13_detail','')
                    +course('course1_14_code', 'course1_14_name','course1_14_detail','')
                    +course('course1_15_code', 'course1_15_name','course1_15_detail','')
                    +course('course1_16_code', 'course1_16_name','course1_16_detail','')
                    +course('course1_17_code', 'course1_17_name','course1_17_detail','')
                    +course('course1_18_code', 'course1_18_name','course1_18_detail','')
                    +course('course1_19_code', 'course1_19_name','course1_19_detail','')
                    +course('course1_20_code', 'course1_20_name','course1_20_detail','')
                    +course('course1_21_code', 'course1_21_name','course1_21_detail','')
                    +course('course1_22_code', 'course1_22_name','course1_22_detail','')
