extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/academic.css')
    link(rel='stylesheet', href='/stylesheets/instructor.css')

block content

    div.academic.module
        div.container
            include ../side-nav
            +side-nav('academics', [
                {name:'instructor', link:'/academic/instructors'}, 
                {name:'special_instructor', link:'/academics/instructors2'}, 
                {name:'course_desc', link:'/academic/courses'}, 
                {name:'course_schedule', link:'/academic/schedules'}
            ])


            div.context 
                block academic-content