extends index
include instructor

block append styles
    link(rel='stylesheet' href='/stylesheets/academic/instructor.css')
    link(rel='stylesheet' href='/stylesheets/academic/instructors.css')

block academic-content
    section.instructors2
        h1
            span #{__('special_instructor')}

        div.sm
            +instructor('drPeterAu', [], ['drPeterAu1'], 'peterau')
            +instructor('drDavidChan', [], ['drDavidChan1'], '')
            +instructor('drAnthonyChow', [], ['drAnthonyChow1'], 'achow')
            +instructor('drSamuelHo', [], ['drSamuelHo1','drSamuelHo2','drSamuelHo3', 'drSamuelHo4'], '')
            +instructor('drArchieHui', [], ['drArchieHui1'], 'archiehui')
            +instructor('drJohnJiang', [], ['drJohnJiang1'], 'johnjiang')
            +instructor('drJohannLai', [], ['drJohannLai1'], '')
            +instructor('drSimonLee', [], ['drSimonLee1'], 'simonlee')
            +instructor('pastorLukeLin', [], ['pastorLukeLin1'], '')
            +instructor('drPatrickSo', [], ['drPatrickSo1'], '')
            +instructor('drFrancisTam', [], ['drFrancisTam1'], 'francistam')
            +instructor('drPeterTeh', [], ['drPeterTeh1'], '')
            +instructor('drPaulTsai', [], ['drPaulTsai1'], '')
            +instructor('drSamuelTsang', [], ['drSamuelTsang1'], 'samueltsang')
            +instructor('drMaryWang', [], ['drMaryWang1'], 'marywang')
            +instructor('drPaulWang', [], ['drPaulWang1','drPaulWang2'], 'paulwang')
            +instructor('drEnochWong', [], ['drEnochWong1'], 'enochwong')
            +instructor('drZionWu', [], ['drZionWu1'], 'zionwu')
            +instructor('drEnochYim', [], ['drEnochYim1', 'drEnochYim2'], 'enochyim')
            +instructor('drWLLau', [], ['drWLLau1'], 'lau')
            +instructor('drMarcusCho', [], ['drMarcusCho1'], '')
            +instructor('drDavidChiu', [], ['drDavidChiu1'], 'davidchiu')
            +instructor('drYipKingTak', [], ['drYipKingTak1'], '')
            +instructor('drTimNagai', [], ['drTimNagai1'], '')
            




