extends index
include instructor

block append styles
    link(rel='stylesheet', href='/stylesheets/academic/instructor.css')
    link(rel='stylesheet', href='/stylesheets/academic/instructors.css')

block academic-content
    div.container.section.instructor1
        div.header 
            div.title #{__('emeritusProfessor')}
        ul.desc-container
            +instructor('drJohnHsu', [], ['drJohnHsu1', 'drJohnHsu2', 'drJohnHsu3'], '')

    div.container.section.instructor2
        div.header 
            div.title #{__('professor')}
        ul.desc-container
            +instructor(
                'drJasonYeung', 
                ['drJasonYeung1'], 
                ['drJasonYeung2', 'drJasonYeung3', 'drJasonYeung4','drJasonYeung5','drJasonYeung6','drJasonYeung7'], 
                '')       

    div.container.section.instructor3
        div.header 
            div.title #{__('associateProfessors')}
        ul.desc-container
            +instructor(
                'drIvanLeung', 
                ['drIvanLeung1'], 
                ['drIvanLeung2', 'drIvanLeung3', 'drIvanLeung4','drIvanLeung5'], 
                '')
            +instructor(
                'drEdwinLee', 
                ['drEdwinLee1'], 
                ['drEdwinLee2', 'drEdwinLee3', 'drEdwinLee4','drEdwinLee5','drEdwinLee6'], 
                '')

    div.container.section.instructor4
        div.header 
            div.title #{__('assistantProfessors')}
        ul.desc-container
            +instructor(
                'drReubenLee', 
                ['drReubenLee1'], 
                ['drReubenLee2', 'drReubenLee3', 'drReubenLee4'], 
                '')