extends index
include instructor

block append styles
    link(rel='stylesheet' href='/stylesheets/academic/instructor.css')
    link(rel='stylesheet' href='/stylesheets/academic/instructors.css')

block academic-content
    section.instructors2
        h1
            span #{__('special_instructor')}

        div.sm
            +instructor('drPeterAu', [], ['drPeterAu1'], '')
            +instructor('drDavidChan', [], ['drDavidChan1'], '')
            +instructor('drAnthonyChow', [], ['drAnthonyChow1'], '')
            +instructor('drSamuelHo', [], ['drSamuelHo1','drSamuelHo2','drSamuelHo3', 'drSamuelHo4'], '')
            +instructor('drArchieHui', [], ['drArchieHui1'], 'archiehui')
            +instructor('drJohnJiang', [], ['drJohnJiang1'], '')
            +instructor('drWilliamKi', [], ['drWilliamKi1'], '')
            +instructor('drJohannLai', [], ['drJohannLai1'], '')
            +instructor('drSimonLee', [], ['drSimonLee1'], 'simonlee')
            +instructor('pastorLukeLin', [], ['pastorLukeLin1'], '')
            +instructor('drPatrickSo', [], ['drPatrickSo1'], '')
            +instructor('drFrancisTam', [], ['drFrancisTam1'], '')
            +instructor('drPeterTeh', [], ['drPeterTeh1'], '')
            +instructor('drPaulTsai', [], ['drPaulTsai1'], '')
            +instructor('drSamuelTsang', [], ['drSamuelTsang1'], '')
            +instructor('drMaryWang', [], ['drMaryWang1'], '')
            +instructor('drPaulWang', [], ['drPaulWang1','drPaulWang2'], '')
            +instructor('drEnochWong', [], ['drEnochWong1'], '')
            +instructor('drZionWu', [], ['drZionWu1'], 'zionwu')
            +instructor('drEnochYim', [], ['drEnochYim1'], '')
            +instructor('drWLLau', [], ['drWLLau1'], '')




