
mixin instructor(name, titles, educations, image_name)
    div.instructor(class= name)
        div.image(style= image_name ? 'background-size: cover; background-image: url("../../images/instructors/' + image_name + '.png")' : '') 
        div.details
            div.name= __(name)
            ul.titles
                each title in titles
                    li.instructor-title= __(title)
            ul.educations
                each education in educations
                    li.instructor-education= __(education)
