extends index
include instructor

block append styles
    link(rel='stylesheet', href='/stylesheets/academic/instructor.css')
    link(rel='stylesheet', href='/stylesheets/academic/instructors.css')

block academic-content
    div.container.section.special_instructor
        div.header 
            div.title #{__('special_instructor')}
        ul.desc-container
            +instructor('drPeterAu', [], ['drPeterAu1'], '')
            +instructor('drAnthonyChow', [], ['drAnthonyChow1'], '')
            +instructor('drSamuelHo', [], ['drSamuelHo1','drSamuelHo2','drSamuelHo3', 'drSamuelHo4', 'drSamuelHo5'], '')
            +instructor('drArchieHui', [], ['drArchieHui1'], '')
            +instructor('drSimonLee', [], ['drSimonLee1'], '')
            +instructor('drFrancisTam', [], ['drFrancisTam1'], '')
            +instructor('drPeterTeh', [], ['drPeterTeh1'], '')
            +instructor('drPaulTsai', [], ['drPaulTsai1'], '')
            +instructor('drSamuelTsang', [], ['drSamuelTsang1'], '')
            +instructor('drMaryWang', [], ['drMaryWang1'], '')
            +instructor('drPaulWang', [], ['drPaulWang1','drPaulWang2'], '')
            +instructor('drEnochWong', [], ['drEnochWong1'], '')
            +instructor('drZionWu', [], ['drZionWu1'], '')
                        



