
.header{
    background: url(../images/fee.png) no-repeat center;
    background-size: cover;
}
ul.desc-container li span.right{
    float: right;
    margin-right: 25px;
}
.border-top{
    border-top: 1px solid gray;
    padding-top: 1rem;
}
th.percentage{
    width: 80px;
}
th.grade{
    width: 100px;
}
th,
td{
    border-top: 1px solid #888;
    border-right: 1px solid #888;
    padding: 5px;
}
table{
    border-left: 1px solid #888;
    border-bottom: 1px solid #888;
}