
@media (max-width: 575px) {
}

@media (min-width: 576px) {
    .en nav.side-nav li{
        width: 80px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .en nav.side-nav li{
        width: auto;
        text-align: left;
    }
    /* .module > .container > .context{
        padding-top: 0;
        flex-basis: 75%;
    }

    section{
        margin-left: 2rem;
    }     */
}

@media (min-width: 992px) {

    .programs .box-container{
        flex-basis: 32.5%;
    }
}