section.international {
    min-height:  500px;
}

section.international>h1 {
    background: url(../../images/airplane.png) no-repeat center;
    background-size: cover;
}

section.international>div {
    font-size: 1.25rem;
    font-weight: bold;
}

ul.international_student li{
    padding-bottom: 15px;
    list-style: lower-roman;
}

@media (min-width: 768px) {
    .module>.container>.context {
        min-height: 340px;
    }
}