 #prog-dmin .cost-table, #prog-mmin .cost-table, #prog-mdiv .cost-table, #prog-mts .cost-table {
     background-color: #ccc;
     padding: 3px 5px;
 }

 .cost-table {
     display: flex;
     justify-content: space-between;
     margin-bottom: 1rem;
 }

 section>h1 {
     background: url(../../images/book1.jpg) no-repeat center;
     background-size: cover;
 }
 section#prog-dmin > h1{
    background: url(../../images/dmin.png) no-repeat right;
    background-color: #709dc7;
 }
 section .course{
    display: flex; 
 }
 section .course > div:first-child{
     min-width: 85px;
 }
 section#prog-mdiv > h1{
    background: url(../../images/mdiv.png) no-repeat right;
    background-color: #709dc7;
 }
 section#prog-mmin > h1{
    background: url(../../images/mmin.png) no-repeat right;
    background-color: #709dc7;
 }
 section#prog-mts > h1{
    background: url(../../images/mts.png) no-repeat right;
    background-color: #709dc7;
 }
 section#prog-dipcs > h1{
    background: url(../../images/book2.png) no-repeat right;  
    background-size: cover;  
 }
 section#prog-nondegree > h1{
    background: url(../../images/book3.png) no-repeat right;  
    background-size: cover;  
 }
 section#prog-audit > h1{
    background: url(../../images/book4.png) no-repeat right;  
    background-size: cover;  
 }

 li.box-container {
     padding-bottom: 45px;
     position: relative;
 }

 .box-container .detail-btn {
     position: absolute;
     bottom: 5px;
     right: 5px;
     padding: 3px 0.75rem;
     background-color: #ffec42;
     display: inline-block;
     color: #333;
     border-radius: 5px;
     margin-right: 0.5rem;
     margin-bottom: 0.5rem;
     text-transform: uppercase;
     font-size: 0.85rem;
 }


section#general_theology ul.point{
    padding-bottom: 15px;
}
section#general_theology ul.point.padding-left{
    padding-left: 20px;
}
section#general_theology ul.point li{
    list-style: disc;
}

 @media (min-width: 576px) {
     .wrap-boxes .box-container {
         flex-basis: 48%;
     }
 }

 section>h1>span{
    max-width: 325px;
}

 @media (min-width: 992px) {
     section>h1>span{
         max-width: none;
     }
 }

 .section-nav {
    position: relative;
    width: 100%;
    display: none;
}
/* apply fixed style when scrolling down */
.section-nav.fixed {
   display: block;
   position: fixed;
   top:0; 
   z-index: 99;
}

