extends ../layout

block styles
    link(rel='stylesheet', href='/stylesheets/side-nav.css')
    link(rel='stylesheet', href='/stylesheets/admissions/index.css')

block content

    div.admissions.module
        div.container
            include ../side-nav
            +side-nav('admissions', [
                {name:'ccstvancouver_short', link:'/admissions/vancouver'}, 
                {name:'apply', link:'/admissions/apply'}, 
                {name:'programs', link:'/admissions/programs'}, 
                {name:'fees', link:'/admissions/fees'}, 
                {name:'financialAssistance', link:'/admissions/finanical'}, 
                {name:'internationalStudent', link:'/admissions/international'}
            ])

            div.context 
                block admission-content