extends index

block admission-content
    div.container.section.international
        div.header 
            div.title!= __('internationalStudent')
        ul.desc-container
            li.pt-title #{__('internationStudent1')} 


    