extends index

block append styles
    link(rel='stylesheet', href='/stylesheets/admissions/international.css')

block admission-content
    section.international
        h1
            span #{__('internationalStudent')}
        div #{__('internationStudent1')} 


    